<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css -->
    <link rel="stylesheet" href="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">
    <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">
    <link rel="stylesheet" href="../../resources/css/main.css">

    <!-- lib -->
    <script src="../../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <script src="../../resources/lib/swiper/swiper.js"></script>

    <!-- js -->
    <script src="../../resources/js/main.js"></script>

    <title>수강신청</title>
</head>
<body data-text-size="normal">
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>

<!-- [공통] 글자 텍스트 아이콘 -->
<div class="fixed-btn-wrap">
    <button type="button" class="txt-size-btn sm"><span class="visually-hidden">글씨 크게 보기</span></button>
    <button type="button" class="txt-size-btn rg active"><span class="visually-hidden">글씨 보통 보기</span></button>
    <button type="button" class="txt-size-btn lg"><span class="visually-hidden">글씨 크게 보기</span></button>
</div>

<!-- 헤더 -->
<header>
    <!-- [사이드바] dim 처리 영역 -->
    <div id="dim-overlay" class="dim"></div>
    <div class="content-wrap">
        <h1>
            <a href="../user/main.html">
                <img src="../../resources/images/common/kspo_logo.svg" alt="한국체육산업개발주식회사 수강신청" />
            </a>
        </h1>
        <nav class="sidebar">
            <!-- pc 에서의 gnb -->
            <ul class="pc-only-f">
                <li><a href="../user/cs_center_join.html">센터가입</a></li>
                <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
            <!-- mobile 에서의 gnb -->
            <div class="sidebar-title-wrap mobile-only-f">
                <button type="button" class="user-btn">로그인</button>
                <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="sidebar-menu-wrap">
                <ul class="sidebar-list mobile-only">
                    <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                    <li><a href="../user/cs_center_join.html">센터가입</a></li>
                    <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                    <li><a href="../user/cs_shopping_cart.html">장바구니</a></li>
                    <li><a href="../user/cs_payment_history.html">결제내역</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn-wrap pc-only-f">
            <a href="#" class="ico-user"><span>로그인</span></a>
            <a href="../user/cs_shopping_cart.html" class="ico-bag"><span>장바구니</span></a>
            <a href="../user/cs_payment_history.html" class="ico-pay"><span>결제내역</span></a>
        </div>
        <div class="btn-wrap sm mobile-only-f">
            <a href="#" class="ico-btn ico-user"><span class="visually-hidden">로그인</span></a>
            <a href="#" class="ico-btn ico-bc"><span class="visually-hidden">바코드</span></a>
            <button type="button" class="ico-btn ico-hamburger"><span class="visually-hidden">메뉴 열기</span></button>
        </div>
    </div>
</header>

<!-- 메인 -->
<main id="main">
    <div class="inner-wrap">
        <div class="title-wrap sub-ver lg">
            <h2>수강신청</h2>
        </div>
        <div class="content-box">
            <!-- [모바일에서만 보임 (767이하)] -->
            <div class="tabSwiper swiper mobile-only">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <button type="button" class="badge-ver-btn" onclick="openTab()">센터명<span class="isOpen rotate"><span class="visually-hidden">닫힘</span></span></button>
                    </li>
                    <li class="swiper-slide">
                        <button type="button" class="badge-ver-btn" onclick="openTab()">신규등록/재등록 여부<span class="isOpen rotate"><span class="visually-hidden">닫힘</span></span></button>
                    </li>
                    <li class="swiper-slide">
                        <button type="button" class="badge-ver-btn" onclick="openTab()">종목<span class="isOpen rotate"><span class="visually-hidden">닫힘</span></span></button>
                    </li>
                    <li class="swiper-slide">
                        <button type="button" class="badge-ver-btn" onclick="openTab()">시작시간<span class="isOpen rotate"><span class="visually-hidden">닫힘</span></span></button>
                    </li>
                </ul>
            </div>
            <p class="star-txt mobile-only mt-8">신규등록은 매월 27일(일산SC는 25일)부터 가능, 센터별로 상이할 수 있음. (홈페이지 참조)</p>
            <!-- 1. 수강신청 조회 탭 -->
            <div class="f-modal">
                <div class="f-modal-content">
                    <div class="title-wrap mobile-only-f">
                        <h3>조회</h3>
                        <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
                    </div>
                    <div class="f-modal-body">
                        <div class="check-tab-wrap">
                            <div class="check-scroll">
                                <ul>
                                    <li>
                                        <button type="button" class="check-tab-btn">센터명<span class="isOpen"><span class="visually-hidden">열림</span></span></button>
                                        <div class="sub-tab-content">
                                            <ul>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false" checked>
                                                        <span>스포츠교실</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false" checked>
                                                        <span>분당스포츠센터</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="true" checked>
                                                        <span>일산스포츠센터</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>올림픽수영장</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>축구장</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <button type="button" class="check-tab-btn">신규등록<br class="mobile-only">/재등록 여부<span class="isOpen"><span class="visually-hidden">열림</span></span></button>
                                        <div class="sub-tab-content">
                                            <ul>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="true" checked>
                                                        <span>신규등록</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>재등록</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>방학특강</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <button type="button" class="check-tab-btn">종목<span class="isOpen"><span class="visually-hidden">열림</span></span></button>
                                        <div class="sub-tab-content">
                                            <ul>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="true" checked>
                                                        <span>검도</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>수영</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>배드민턴</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>필라테스</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>모델워킹</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>축구</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <button type="button" class="check-tab-btn">시작/시간<span class="isOpen"><span class="visually-hidden">열림</span></span></button>
                                        <div class="sub-tab-content">
                                            <ul>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="true" checked>
                                                        <span>전체</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>9시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>10시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>11시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>12시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>13시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>14시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>15시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>16시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>17시</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="checkbox-badge-wrap">
                                                        <input type="checkbox" aria-checked="false">
                                                        <span>18시</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="cr_box flex-wrap al-start between">
                        <p class="star-txt pc-only">신규등록은 매월 27일(일산SC는 25일)부터 가능, 센터별로 상이할 수 있음. (홈페이지 참조)</p>
                        <button type="button" class="btn size-md md">조회하기</button>
                    </div>
                </div>
            </div>

            <!-- 2. 수강신청 테이블 -->
            <div class="cr-wrap flex-wrap between al-center mb-12">
                <p class="txt-md fw-medium c-gray"><em class="txt-md fw-bold c-blue">10</em>개의 강좌가 있습니다.</p>
                <button type="button" class="btn sm outlined">장바구니 담기</button>
            </div>
            <!-- 1. pc 버전 -->
            <div class="custom-table pc-only">
                <table>
                    <caption class="visually-hidden">장바구니 표</caption>
                    <colgroup>
                        <col style="width:50px;"/>
                        <col style="width:80px;"/>
                        <col style=""/>
                        <col style="width:80px;"/>
                        <col style="width:80px;"/>
                        <col style="width:130px;"/>
                        <col style="width:100px;"/>
                        <col style="width:100px;"/>
                        <col style="width:110px;"/>
                        <col style="width:80px;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <div class="th-wrap">
                                <span class="visually-hidden">선택</span>
                                <label class="checkbox-wrap">
                                    <input type="checkbox" aria-checked="false">
                                    <span class="checkmark" aria-hidden="true"></span>
                                </label>
                            </div>
                        </th>
                        <th><div class="th-wrap">상태</div></th>
                        <th><div class="th-wrap center">강좌명</div></th>
                        <th><div class="th-wrap">강습반</div></th>
                        <th><div class="th-wrap">강사</div></th>
                        <th><div class="th-wrap">강습일정</div></th>
                        <th><div class="th-wrap">인원수<br>(인원/정원)</div></th>
                        <th><div class="th-wrap">결제진행중</div></th>
                        <th><div class="th-wrap">금액(원)</div></th>
                        <th><div class="th-wrap center">장바구니<br>바로담기</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 1. 마감일 경우 -->
                    <tr class="disabled">
                        <td>
                            <div class="td-wrap center">
                                <label class="checkbox-wrap">
                                    <input type="checkbox" aria-checked="false">
                                    <span class="checkmark" aria-hidden="true"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                <span class="badge red">마감</span>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                    <span class="txt-sm fw-bold ellipsis">
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                성인반
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                홍길동
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                월,화<br>
                                20:00~20:50
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <p class="txt-sm fw-medium c-red">30/30</p>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <p class="txt-sm fw-medium">0</p>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <p class="txt-sm fw-medium">8,800,000</p>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                <button type="button" class="ico-btn outlined shop"><span class="visually-hidden">장바구니 바로담기 버튼</span></button>
                            </div>
                        </td>
                    </tr>
                    <!-- 2. 마감 아닌경우 -->
                    <tr>
                        <td>
                            <div class="td-wrap center">
                                <label class="checkbox-wrap">
                                    <input type="checkbox" aria-checked="false">
                                    <span class="checkmark" aria-hidden="true"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                <span class="badge blue">접수중</span>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                    <span class="txt-sm fw-bold ellipsis">
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                성인반
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                홍길동
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                월,화<br>
                                20:00~20:50
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <p class="txt-sm fw-medium c-blue">30/30</p>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <p class="txt-sm fw-medium">0</p>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <p class="txt-sm fw-medium">8,800,000</p>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                <button type="button" class="ico-btn outlined shop"><span class="visually-hidden">장바구니 바로담기 버튼</span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 2. 모바일 버전 -->
            <div class="custom-table mobile-only">
                <table>
                    <caption class="visually-hidden">수강신청 표</caption>
                    <colgroup>
                        <col style="width:50px;"/>
                        <col style="width:calc(100% - 50px)"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <div class="th-wrap">
                                <span class="visually-hidden">선택</span>
                                <label class="checkbox-wrap">
                                    <input type="checkbox" aria-checked="false">
                                    <span class="checkmark" aria-hidden="true"></span>
                                </label>
                            </div>
                        </th>
                        <th><div class="th-wrap">강좌명</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 1. 마감일 경우 -->
                    <tr class="disabled">
                        <td class="al-start">
                            <div class="td-wrap center">
                                <label class="checkbox-wrap">
                                    <input type="checkbox" aria-checked="false">
                                    <span class="checkmark" aria-hidden="true"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="badge red">마감</span>
                                    <p class="txt-rgl fw-bold mb-8">검도 06:00~07:30(월화목금)성인</p>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습반</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">성인반</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강사</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">홍길동</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습일정</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">인원수(현원/정원)</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium c-blue">29/30</span>
                                            <span class="txt-sm fw-medium">(결제진행중 1명)</span>
                                        </li>
                                    </ul>
                                    <div class="flex-wrap al-center end">
                                        <span class="txt-md fw-bold">8,800,000원</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- 2. 마감이 아닐 경우 -->
                    <tr>
                        <td class="al-start">
                            <div class="td-wrap center">
                                <label class="checkbox-wrap">
                                    <input type="checkbox" aria-checked="false">
                                    <span class="checkmark" aria-hidden="true"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="badge blue mb-6">접수중</span>
                                    <p class="txt-rgl fw-bold mb-8">검도 06:00~07:30(월화목금)성인</p>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습반</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">성인반</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강사</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">홍길동</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습일정</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">인원수(현원/정원)</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium c-blue">29/30</span>
                                            <span class="txt-sm fw-medium">(결제진행중 1명)</span>
                                        </li>
                                    </ul>
                                    <div class="flex-wrap al-center end">
                                        <span class="txt-md fw-bold">8,800,000원</span>
                                        <button type="button" class="ico-btn outlined shop"><span class="visually-hidden">장바구니 바로담기 버튼</span></button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>
// 초기화
new TabManager();
new CheckTabManager();

// swiper
const swiper = new Swiper('.swiper.tabSwiper',{
    slidesPerView: 'auto',
    spaceBetween: 8,
})
</script>
</body>
</html>