<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css -->
    <link rel="stylesheet" href="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">
    <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">
    <link rel="stylesheet" href="../../resources/css/main.css">

    <!-- lib -->
    <script src="../../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <script src="../../resources/lib/swiper/swiper.js"></script>

    <!-- js -->
    <script src="../../resources/js/main.js"></script>

    <title>온라인 회원카드</title>
</head>
<body data-text-size="normal">
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>
<!-- 헤더 -->
<header>
    <!-- [사이드바] dim 처리 영역 -->
    <div id="dim-overlay" class="dim"></div>
    <div class="content-wrap"  id="main-content">
        <h1>
            <a href="../user/main.html">
                <img src="../../resources/images/common/kspo_logo.svg" alt="한국체육산업개발주식회사 수강신청" />
            </a>
        </h1>
        <nav class="sidebar" role="dialog" aria-model="true" aria-label="메뉴">
            <!-- pc 에서의 gnb -->
            <ul class="pc-only-f">
                <li><a href="../user/cs_center_join.html">센터가입</a></li>
                <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
            <!-- mobile 에서의 gnb -->
            <div class="sidebar-title-wrap mobile-only-f">
                <a href="../user/login.html" class="user-btn">로그인</a>
                <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="sidebar-menu-wrap">
                <ul class="sidebar-list mobile-only">
                    <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                    <li><a href="../user/cs_center_join.html">센터가입</a></li>
                    <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                    <li><a href="../user/cs_shopping_cart.html">장바구니</a></li>
                    <li><a href="../user/cs_payment_history.html">결제내역</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn-wrap pc-only-f">
            <a href="../user/login.html" class="ico-user"><span>로그인</span></a>
            <a href="../user/cs_shopping_cart.html" class="ico-bag"><span>장바구니</span></a>
            <a href="../user/cs_payment_history.html" class="ico-pay"><span>결제내역</span></a>
        </div>
        <div class="btn-wrap sm mobile-only-f">
            <a href="../user/login.html" class="ico-btn ico-user" aria-label="사용자 계정"><img src="../../resources/images/ico/ico_login.svg" alt="로그인 페이지 이동"/></a>
            <a href="../user/cs_payment_history.html" class="ico-btn ico-pay" aria-label="결제내역"><img src="../../resources/images/ico/ico_bc.svg" alt="결제내역 페이지 이동"/></a>
            <button type="button" class="ico-btn ico-hamburger"><span class="visually-hidden">메뉴 열기</span></button>
        </div>
    </div>
</header>
<!-- [공통] 글자 텍스트 아이콘 -->
<div class="fixed-btn-wrap">
    <button type="button" class="txt-size-btn sm"><span class="visually-hidden">글씨 크게 보기</span></button>
    <button type="button" class="txt-size-btn rg active"><span class="visually-hidden">글씨 보통 보기</span></button>
    <button type="button" class="txt-size-btn lg"><span class="visually-hidden">글씨 크게 보기</span></button>
</div>

<!-- [모달 팝업] : 온라인 회원카드 -->
<div id="modal-onlineUserCard" class="modal" data-modal-type="rotate-ver">
    <div class="modal-content mobile-rotate">
        <div class="title-wrap">
            <h3>온라인 회원카드</h3>
            <button type="button" onclick="hideModal('modal-onlineUserCard')" class="close-btn"><span class="visually-hidden">닫기</span></button>
        </div>
        <div class="modal-body">
            <div class="flex-wrap col-ver bc-box gap-auto">
                <p class="bc-pl-tit">올림픽수영장</p>
                <p class="bc-user-name">홍길동</p>
                <p class="bc-user-num">회원번호: 2506002455</p>
                <div class="bc-img-box">
                    <img src="../../resources/images/subPage/bgimg.png" alt="바코드 임시 이미지"/>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 메인 -->
<main id="main">
    <div class="inner-wrap">
        <div class="title-wrap sub-ver">
            <h2>온라인 회원카드</h2>
            <p>센터 이름을 클릭하시면 온라인 회원카드를 확인하실 수 있습니다.</p>
        </div>
        <div class="content-box lg">
            <div class="flex-wrap mo-col online-card-wrap">
                <button type="button" class="main-con-box blue type7" onclick="showModal('modal-onlineUserCard')">
                    <span class="title-wrap">
                        <span class="h4">스포츠 교실</span>
                        <span class="link-btn"></span>
                    </span>
                </button>
                <button type="button" class="main-con-box orange type8" onclick="showModal('modal-onlineUserCard')">
                    <span class="title-wrap">
                        <span class="h4">일산스포츠센터</span>
                        <span class="link-btn"></span>
                    </span>
                </button>
                <button type="button" class="main-con-box green type9" onclick="showModal('modal-onlineUserCard')">
                    <span class="title-wrap">
                        <span class="h4">분당스포츠센터</span>
                        <span class="link-btn"></span>
                    </span>
                </button>
                <button type="button" class="main-con-box purple type10" onclick="showModal('modal-onlineUserCard')">
                    <span class="title-wrap">
                        <span class="h4">올림픽수영장</span>
                        <span class="link-btn"></span>
                    </span>
                </button>
                <button type="button" class="main-con-box red type11" onclick="showModal('modal-onlineUserCard')">
                    <span class="title-wrap">
                        <span class="h4">축구장</span>
                        <span class="link-btn"></span>
                    </span>
                </button>
            </div>
            <div class="flex-wrap mo-j-start end al-end">
                <p class="txt-gray">원하시는 센터가<br>목록에 없으신가요?</p>
                <a href="#" class="arrow_link">센터가입하기</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>