<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css -->
    <link rel="stylesheet" href="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">
    <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">
    <link rel="stylesheet" href="../../resources/css/main.css">

    <!-- lib -->
    <script src="../../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <script src="../../resources/lib/swiper/swiper.js"></script>

    <!-- js -->
    <script src="../../resources/js/main.js"></script>

    <title>결제내역</title>
</head>
<body data-text-size="normal">
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>

<!-- [공통] 글자 텍스트 아이콘 -->
<div class="fixed-btn-wrap">
    <button type="button" class="txt-size-btn sm"><span class="visually-hidden">글씨 크게 보기</span></button>
    <button type="button" class="txt-size-btn rg active"><span class="visually-hidden">글씨 보통 보기</span></button>
    <button type="button" class="txt-size-btn lg"><span class="visually-hidden">글씨 크게 보기</span></button>
</div>

<!-- 헤더 -->
<header>
    <!-- [사이드바] dim 처리 영역 -->
    <div id="dim-overlay" class="dim"></div>
    <div class="content-wrap">
        <h1>
            <a href="../user/main.html">
                <img src="../../resources/images/common/kspo_logo.svg" alt="한국체육산업개발주식회사 수강신청" />
            </a>
        </h1>
        <nav class="sidebar">
            <!-- pc 에서의 gnb -->
            <ul class="pc-only-f">
                <li><a href="../user/cs_center_join.html">센터가입</a></li>
                <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
            <!-- mobile 에서의 gnb -->
            <div class="sidebar-title-wrap mobile-only-f">
                <a href="../user/login.html" class="user-btn">로그인</a>
                <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="sidebar-menu-wrap">
                <ul class="sidebar-list mobile-only">
                    <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                    <li><a href="../user/cs_center_join.html">센터가입</a></li>
                    <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                    <li><a href="../user/cs_shopping_cart.html">장바구니</a></li>
                    <li><a href="../user/cs_payment_history.html">결제내역</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn-wrap pc-only-f">
            <a href="../user/login.html" class="ico-user"><span>로그인</span></a>
            <a href="../user/cs_shopping_cart.html" class="ico-bag"><span>장바구니</span></a>
            <a href="../user/cs_payment_history.html" class="ico-pay"><span>결제내역</span></a>
        </div>
        <div class="btn-wrap sm mobile-only-f">
            <a href="../user/login.html" class="ico-btn ico-user"><span class="visually-hidden">로그인</span></a>
            <a href="#" class="ico-btn ico-bc"><span class="visually-hidden">바코드</span></a>
            <button type="button" class="ico-btn ico-hamburger"><span class="visually-hidden">메뉴 열기</span></button>
        </div>
    </div>
</header>

<!-- 메인 -->
<main id="main">
    <div class="inner-wrap">
        <div class="title-wrap sub-ver lg">
            <h2>결제내역</h2>
            <p>예약 신청내역 및 결제내역을 확인 가능합니다.</p>
        </div>
        <div class="content-box">
            <div class="payment-wrap flex-wrap mo-col mo-al-end end al-center mb-12">
                <fieldset class="calendar">
                    <legend>기간 선택</legend>
                    <div class="calendar-wrap flex-wrap al-center">
                        <label class="date">
                            <input type="text" class="dates">
                        </label>
                        <span class="txt-sm fw-bold color-gray">-</span>
                        <label class="date">
                            <input type="text" class="dates">
                        </label>
                    </div>
                </fieldset>
                <div class="flex-wrap w-auto">
                    <div class="radio-tab-wrap">
                        <label class="radio-tab">
                            <input type="radio" aria-checked="true" checked="true" name="radioGroup2">
                            <span>2개월</span>
                        </label>
                        <label class="radio-tab">
                            <input type="radio" aria-checked="false" name="radioGroup2">
                            <span>3개월</span>
                        </label>
                        <label class="radio-tab">
                            <input type="radio" aria-checked="false" name="radioGroup2">
                            <span>4개월</span>
                        </label>
                    </div>
                    <button type="button" class="btn fixed-md size-md">조회하기</button>
                </div>
            </div>
            <div class="custom-table fixed-ver pc-only" data-table="rowspan-ver">
                <table>
                    <caption class="visually-hidden">결제내역 표</caption>
                    <colgroup>
                        <col style="width:150px;"/>
                        <col style="width:100px;"/>
                        <col style="width:80px;"/>
                        <col style="width:100px;"/>
                        <col style=""/>
                        <col style="width:80px;"/>
                        <col style="width:80px;"/>
                        <col style="width:120px;"/>
                        <col style="width:180px;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th><div class="th-wrap center">결제일자/상태</div></th>
                        <th><div class="th-wrap center">결제구분</div></th>
                        <th><div class="th-wrap center">강습일</div></th>
                        <th><div class="th-wrap center">센터명</div></th>
                        <th><div class="th-wrap center">강좌명</div></th>
                        <th><div class="th-wrap center">강습반</div></th>
                        <th><div class="th-wrap center">강사</div></th>
                        <th><div class="th-wrap">금액(원)</div></th>
                        <th><div class="th-wrap center"></div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 1. 결제완료일 경우 (rowspan 사용한 경우) -->
                    <!-- ** rowspan 사용의 그 다음 tr > td 에 bl클래스 추가 (border-left약어) -->
                    <tr>
                        <td rowspan="3">
                            <div class="td-wrap center">
                                <div class="flex-wrap col-ver al-center gap-auto">
                                    <p class="txt-sm fw-medium mb-8">2025.03.01 11:00</p>
                                    <span class="badge blue">결제완료</span>
                                </div>
                            </div>
                        </td>
                        <td rowspan="3">
                            <div class="td-wrap center">
                                온라인 결제
                            </div>
                        </td>
                        <td rowspan="3">
                            <div class="td-wrap center">
                                25.03
                            </div>
                        </td>
                        <td rowspan="3">
                            <div class="td-wrap center">
                                스포츠 교실
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                                    <span class="txt-sm fw-bold ellipsis mb-8">
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                    </span>
                                    <ul class="vertical-bar-list">
                                        <li>강습일정</li>
                                        <li>월,화 20:00 ~ 20:50</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                성인반
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                홍길동
                            </div>
                        </td>
                        <td rowspan="3">
                            <div class="td-wrap center">
                                8,800,000
                            </div>
                        </td>
                        <td rowspan="3">
                            <div class="td-wrap center">
                                <div class="flex-wrap col-ver al-center gap4">
                                    <button type="button" class="btn sm outlined">영수증 출력</button>
                                    <button type="button" class="btn sm outlined c-red">수강변경</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bl">
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                                    <span class="txt-sm fw-bold ellipsis mb-8">
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                    </span>
                                    <ul class="vertical-bar-list">
                                        <li>강습일정</li>
                                        <li>월,화 20:00 ~ 20:50</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                성인반
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                홍길동
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bl">
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                                    <span class="txt-sm fw-bold ellipsis mb-8">
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                    </span>
                                    <ul class="vertical-bar-list">
                                        <li>강습일정</li>
                                        <li>월,화 20:00 ~ 20:50</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                성인반
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                홍길동
                            </div>
                        </td>
                    </tr>
                    <!-- 1-2. 결제완료의 경우 (rowspan 없을 경우) -->
                    <tr>
                        <td>
                            <div class="td-wrap center">
                                <div class="flex-wrap col-ver al-center gap-auto">
                                    <p class="txt-sm fw-medium mb-8">2025.03.01 11:00</p>
                                    <span class="badge blue">결제완료</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                온라인 결제
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                25.03
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                스포츠 교실
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                                    <span class="txt-sm fw-bold ellipsis mb-8">
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                    </span>
                                    <ul class="vertical-bar-list">
                                        <li>강습일정</li>
                                        <li>월,화 20:00 ~ 20:50</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                성인반
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                홍길동
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                8,800,000
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                <div class="flex-wrap col-ver al-center gap4">
                                    <button type="button" class="btn sm mo-sm outlined">영수증 출력</button>
                                    <button type="button" class="btn sm mo-sm outlined c-red" disabled>수강변경</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- 2. 취소완료일 경우 -->
                    <tr>
                        <td>
                            <div class="td-wrap center">
                                <div class="flex-wrap col-ver al-center gap-auto">
                                    <p class="txt-sm fw-medium mb-8">2025.03.01 11:00</p>
                                    <span class="badge red">취소완료</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                온라인 결제
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                25.03
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                스포츠 교실
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                                    <span class="txt-sm fw-bold ellipsis mb-8">
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                      검도 06:00~07:30(월화목금)성인 강좌명이 길어질 경우에는 말줄임 표시로 표현됩니다.
                    </span>
                                    <ul class="vertical-bar-list">
                                        <li>강습일정</li>
                                        <li>월,화 20:00 ~ 20:50</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                성인반
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap">
                                홍길동
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                8,800,000
                            </div>
                        </td>
                        <td>
                            <div class="td-wrap center">
                                <div class="flex-wrap col-ver al-center gap4">
                                    <button type="button" class="btn sm mo-sm outlined">영수증 출력</button>
                                    <button type="button" class="btn sm mo-sm outlined c-red">수강변경</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- ** 결제내역의 경우 모바일에서  (결제완료 / 취소완료로 나눠짐) -->
            <!-- 1. 결제완료 -->
            <div class="custom-table mobile-only">
                <table>
                    <caption class="visually-hidden">결제내역 표 : 결제완료된 경우</caption>
                    <thead>
                    <tr>
                        <th>
                            <div class="th-wrap">
                                <div class="flex-wrap gap-auto mo-col">
                                    <div class="flex-wrap al-center between mb-6">
                                        <div class="flex-wrap gap-auto mo-col al-start">
                                            <span class="badge blue mb-4">결제완료</span>
                                            <span class="txt-sm fw-bold c-gray">2025.03.04 11:00</span>
                                        </div>
                                        <div class="flex-wrap gap4 end">
                                            <button type="button" class="btn sm mo-sm outlined">영수증 출력</button>
                                            <button type="button" class="btn sm mo-sm outlined c-red">수강변경</button>
                                        </div>
                                    </div>
                                    <div class="flex-wrap end">
                                        <span class="txt-md fw-bold">8,800,000 원</span>
                                    </div>
                                </div>

                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-6">기구필라테스</span>
                                    <p class="txt-rgl fw-bold ellipsis2">기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영,기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영,기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영,기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영</p>
                                    <ul class="vertical-bar-list mt-10">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">결제구분</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">온라인결제</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습월</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">25.03</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">센터명</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">스포츠교실</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습반</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">성인반</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강사</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">홍길동</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습일정</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-6">수영</span>
                                    <p class="txt-rgl fw-bold ellipsis2">아침수영 성인반</p>
                                    <ul class="vertical-bar-list mt-10">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">결제구분</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">온라인결제</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습월</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">25.03</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">센터명</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">스포츠교실</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습반</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">성인반</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강사</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">홍길동</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습일정</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 2. 취소완료 -->
            <div class="custom-table mobile-only">
                <table>
                    <caption class="visually-hidden">결제내역 표 : 결제완료된 경우</caption>
                    <thead>
                    <tr>
                        <th>
                            <div class="th-wrap">
                                <div class="flex-wrap gap-auto mo-col">
                                    <div class="flex-wrap al-center between mb-6">
                                        <div class="flex-wrap gap-auto mo-col al-start">
                                            <span class="badge red mb-4">취소완료</span>
                                            <span class="txt-sm fw-bold c-gray">2025.03.04 11:00</span>
                                        </div>
                                        <div class="flex-wrap gap4 end">
                                            <button type="button" class="btn sm mo-sm outlined">영수증 출력</button>
                                        </div>
                                    </div>
                                    <div class="flex-wrap end">
                                        <span class="txt-md fw-bold">8,800,000 원</span>
                                    </div>
                                </div>

                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-6">기구필라테스</span>
                                    <p class="txt-rgl fw-bold ellipsis2">기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영,기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영,기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영,기구필라 09시(월수) 신진영 / 월,수 /  일반인반 /
                                        Free / 신진영</p>
                                    <ul class="vertical-bar-list mt-10">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">결제구분</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">온라인결제</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습월</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">25.03</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">센터명</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">스포츠교실</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습반</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">성인반</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강사</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">홍길동</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습일정</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="td-wrap">
                                <div class="flex-wrap col-ver gap-auto">
                                    <span class="txt-xs fw-bold c-blue mb-6">수영</span>
                                    <p class="txt-rgl fw-bold ellipsis2">아침수영 성인반</p>
                                    <ul class="vertical-bar-list mt-10">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">결제구분</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">온라인결제</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습월</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">25.03</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">센터명</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">스포츠교실</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습반</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">성인반</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강사</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">홍길동</span>
                                        </li>
                                    </ul>
                                    <ul class="vertical-bar-list">
                                        <li>
                                            <span class="txt-sm fw-medium c-gray">강습일정</span>
                                        </li>
                                        <li>
                                            <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>