<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css -->
    <link rel="stylesheet" href="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">
    <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">
    <link rel="stylesheet" href="../../resources/css/main.css">

    <!-- lib -->
    <script src="../../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <script src="../../resources/lib/swiper/swiper.js"></script>

    <!-- js -->
    <script src="../../resources/js/main.js"></script>

    <title>센터가입</title>
    <style>
      .inner-wrap {width:100%;max-width:1570px;margin:0 auto;}
      .guide-comment {font-size:18px;color:red;margin-bottom:24px;}
      .guide-box {border:1px solid #dbdbdb;border-radius:8px;padding:24px;}
      .guide-box + .guide-box {margin-top:24px;}
      .guide-box > h2 {font-size:32px;font-weight:var(--fw-bold);margin-bottom:12px;padding:4px 8px;background-color:#dbdbdb;border-radius:4px;}
      .guide-box > h5 {font-size:24px;font-weight:700;color:#333;margin-bottom:12px;}
      .guide-box > h5 > span {font-size:18px;}
      .guide-box .box + h5 {margin-top:32px;}
    </style>
</head>
<body data-text-size="normal">
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>

<!-- [공통] 글자 텍스트 아이콘 -->
<div class="fixed-btn-wrap">
    <button type="button" class="txt-size-btn sm"><span class="visually-hidden">글씨 크게 보기</span></button>
    <button type="button" class="txt-size-btn rg active"><span class="visually-hidden">글씨 보통 보기</span></button>
    <button type="button" class="txt-size-btn lg"><span class="visually-hidden">글씨 크게 보기</span></button>
</div>

<!-- 헤더 -->
<header>
    <!-- [사이드바] dim 처리 영역 -->
    <div id="dim-overlay" class="dim"></div>
    <div class="content-wrap">
        <h1>
            <a href="../user/main.html">
                <img src="../../resources/images/common/kspo_logo.svg" alt="한국체육산업개발주식회사 수강신청" />
            </a>
        </h1>
        <nav class="sidebar">
            <!-- pc 에서의 gnb -->
            <ul class="pc-only-f">
                <li><a href="../user/cs_center_join.html">센터가입</a></li>
                <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                <li><a href="../user/cs_mobile_user_card.html">모바일 회원카드</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
            <!-- mobile 에서의 gnb -->
            <div class="sidebar-title-wrap mobile-only-f">
                <button type="button" class="user-btn">로그인</button>
                <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="sidebar-menu-wrap">
                <ul class="sidebar-list mobile-only">
                    <li><a href="../user/cs_mobile_user_card.html">모바일 회원카드</a></li>
                    <li><a href="../user/cs_center_join.html">센터가입</a></li>
                    <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                    <li><a href="../user/cs_shopping_cart.html">장바구니</a></li>
                    <li><a href="../user/cs_payment_history.html">결제내역</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn-wrap pc-only-f">
            <a href="#" class="ico-user"><span>로그인</span></a>
            <a href="../user/cs_shopping_cart.html" class="ico-bag"><span>장바구니</span></a>
            <a href="../user/cs_payment_history.html" class="ico-pay"><span>결제내역</span></a>
        </div>
        <div class="btn-wrap sm mobile-only-f">
            <a href="#" class="ico-btn ico-user"><span class="visually-hidden">로그인</span></a>
            <a href="#" class="ico-btn ico-bc"><span class="visually-hidden">바코드</span></a>
            <button type="button" class="ico-btn ico-hamburger"><span class="visually-hidden">메뉴 열기</span></button>
        </div>
    </div>
</header>

<!-- 메인 -->
<main id="main">
  <div class="inner-wrap">
    <p class="guide-comment">가이드의 모든 기준은 글씨크기 '보통' 기준으로 작성되었습니다.</p>
    <div class="guide-box">
      <h2>가. 텍스트 관련</h2>
      <h5>1. 타이틀랩 <span>(서브페이지 ver)</span></h5>
      <div class="box">
        <div class="title-wrap sub-ver">
          <h2>센터가입</h2>
          <p>센터 이름을 클릭하시면 모바일 회원카드를 확인하실 수 있습니다.</p>
        </div>
      </div>

      <h5>1-2. 서브타이틀 <span>(서브페이지 ver)</span></h5>
      <div class="box">
        <div class="sub-content-box">
          <h3 class="sub-title">서브타이틀 제목 : 단독으로 쓰일 경우 margin bottom없음</h3>
        </div>
        <h4 class="sub-title2">[수영 수준별 진도표></h4>
      </div>

      <h5>1-3. 테이블에 들어가는 텍스트 관련</h5>
      <div class="box">
        <span class="txt-xs fw-bold c-blue">검도</span>
        <span class="txt-xs fw-bold c-green">사물함 대여</span>
        <p class="txt-rgl fw-bold">검도 06:00~07:30(월화목금)성인</p>
        <span class="txt-sm fw-medium c-gray">강습일정</span>
        <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
        <span class="txt-lg fw-bold">62,000원</span>
      </div>

      <hr style="margin:20px 0;"/>

      <h5>2-1. 리스트 관련 <span>(※ ver)</span></h5>
      <div class="box">
        <p style="font-size:18px;margin-bottom:4px;">a. 리스트 형식일 경우</p>
        <ul class="reference-list">
          <li>수강신청시 반드시 본인 수준과 진도표에 맞게 수강신청 해주시기 바라며 강습레벨이 맞지 않아 환불을 진행하는 경우에는 10%
            위약금이 발생됩니다.
          </li>
          <li>
            프로그램의 원활한 운영을 위해 합반 및 승급 시 진도표와 상이할 수 있습니다.
          </li>
          <li>
            시간별 강습생 진도에 따라 급수별 차이가 있을 수 있습니다.
          </li>
        </ul>

        <p style="font-size:18px;margin-bottom:4px;margin-top:12px;">b. 단독일 경우</p>
        <p class="rf-txt"></p>
      </div>

      <h5>2-2. 리스트 관련 <span>(* ver)</span></h5>
      <div class="box">
        <p style="font-size:18px;margin-bottom:4px;">a. 리스트 형식일 경우</p>
        <ul class="star-list">
          <li>수강신청시 반드시 본인 수준과 진도표에 맞게 수강신청 해주시기 바라며 강습레벨이 맞지 않아 환불을 진행하는 경우에는 10%
            위약금이 발생됩니다.
          </li>
          <li>
            프로그램의 원활한 운영을 위해 합반 및 승급 시 진도표와 상이할 수 있습니다.
          </li>
          <li>
            시간별 강습생 진도에 따라 급수별 차이가 있을 수 있습니다.
          </li>
        </ul>

        <p style="font-size:18px;margin-bottom:4px;margin-top:12px;">b. 단독일 경우</p>
        <p class="rf-txt"></p>
      </div>

      <h5>2-3. 리스트 관련<span>(| ver)</span></h5>
      <div class="box">
        <p style="font-size:18px;margin-bottom:4px;">a. 가로 나열</p>
        <ul class="vertical-bar-list">
          <li>예시 입니다.</li>
          <li>예시 입니다.</li>
        </ul>
      </div>
    </div>

    <div class="guide-box">
      <h2>나. 커스텀 테이블 관련</h2>
      <h5>1. 강습 수준별 진도표</h5>
      <div class="box">
        <div class="sub-content-box">
          <h4 class="sub-title2">[수영 수준별 진도표]</h4>
          <div class="custom-info-table-wrap" style="max-width:702px;">
            <div class="flex-wrap gap-auto col-ver">
              <div class="flex-wrap mo-col gap-auto">
                <div class="flex1 custom-info-table">
                  <table>
                    <caption class="visually-hidden">수영 수준별 진도표: 주5회, 주3회 강습반</caption>
                    <colgroup>
                      <col style="width:50px;"/>
                      <col style="width:92px;" class="mobile-only-tc"/>
                    </colgroup>
                    <thead>
                    <tr>
                      <th rowspan="2"><div class="th-wrap">구분</div></th>
                      <th colspan="3" class="no-br"><div class="th-wrap">주5회, 주3회 강습반</div></th>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">반명</div></th>
                      <th><div class="th-wrap">강습내용</div></th>
                      <th class="no-br"><div class="th-wrap">강습기간</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 1. 기초 -->
                    <tr>
                      <th rowspan="2"><div class="th-wrap">기초</div></th>
                      <th class="col1-2-3"><div class="th-wrap">신기초</div></th>
                      <td><div class="td-wrap">자유형</div></td>
                      <td rowspan="2" class="no-br"><div class="td-wrap">2개월</div></td>
                    </tr>
                    <tr>
                      <th class="col1-2-3"><div class="th-wrap">기초1</div></th>
                      <td><div class="td-wrap">배영</div></td>
                    </tr>
                    <!-- 2. 초급 -->
                    <tr>
                      <th rowspan="3"><div class="th-wrap">초급</div></th>
                      <th class="col1-3-4"><div class="th-wrap">초급1</div></th>
                      <td><div class="td-wrap">평영 발차기</div></td>
                      <td rowspan="3" class="no-br"><div class="td-wrap">3개월</div></td>
                    </tr>
                    <tr>
                      <th class="col1-3-4"><div class="th-wrap">초급2</div></th>
                      <td><div class="td-wrap">평영 발동작</div></td>
                    </tr>
                    <tr>
                      <th class="col1-3-4"><div class="th-wrap">초급3</div></th>
                      <td><div class="td-wrap">평영 종합동작</div></td>
                    </tr>
                    <!-- 3. 중급 -->
                    <tr>
                      <th rowspan="3"><div class="th-wrap">중급</div></th>
                      <th class="col1-3-4"><div class="th-wrap">중급1</div></th>
                      <td><div class="td-wrap">접영 발차기</div></td>
                      <td rowspan="3" class="no-br"><div class="td-wrap">3개월</div></td>
                    </tr>
                    <tr>
                      <th class="col1-3-4"><div class="th-wrap">중급2</div></th>
                      <td><div class="td-wrap">접영 발동작</div></td>
                    </tr>
                    <tr>
                      <th class="col1-3-4"><div class="th-wrap">중급3</div></th>
                      <td><div class="td-wrap">접영 종합동작/자유형 팔꺾기</div></td>
                    </tr>

                    <!-- [모바일에서만] 4. 상급 -->
                    <tr class="mobile-only-tr">
                      <th><div class="th-wrap">상급</div></th>
                      <td><div class="td-wrap">6개월</div></td>
                      <td colspan="2" class="no-br"><div class="td-wrap">각 영법 숙달 및 지구력 강화, 자세교정, 턴, 스타트, 응용영법,
                        각 영법별 물잡기 훈련, 핀수영 운동량 1000M 이상</div></td>
                    </tr>

                    <!-- [모바일에서만] 5. 연수 -->
                    <tr class="mobile-only-tr">
                      <th class=""><div class="th-wrap">연수</div></th>
                      <td class=""><div class="td-wrap">24개월</div></td>
                      <td colspan="2" class="no-br"><div class="td-wrap">잠영, 입영, 스타트, 핀수영 운동량 1400M 이상</div></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="flex1 custom-info-table">
                  <table>
                    <colgroup>
                      <col style="width:50px;" class="mobile-only-tc"/>
                      <col style="width:92px;" class="mobile-only-tc"/>
                    </colgroup>
                    <thead>
                    <tr>
                      <th class="no-br pc-only-cell" colspan="3"><div class="th-wrap">수영 수준별 진도표: 주 2회 강습반</div></th>
                      <th class="no-br mobile-only-cell" colspan="4"><div class="th-wrap">수영 수준별 진도표: 주 2회 강습반</div></th>
                    </tr>
                    <tr>
                      <th class="mobile-only-cell"><div class="th-wrap">구분</div></th>
                      <th><div class="th-wrap">반명</div></th>
                      <th><div class="th-wrap">강습내용</div></th>
                      <th class="no-br"><div class="th-wrap">강습기간</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 1. 기초 -->
                    <tr>
                      <th class="mobile-only-cell" rowspan="3"><div class="th-wrap">기초</div></th>
                      <th><div class="th-wrap">신기초</div></th>
                      <td><div class="td-wrap">자유형</div></td>
                      <td rowspan="3" class="no-br"><div class="td-wrap">3개월</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">기초1</div></th>
                      <td><div class="td-wrap">배영 발차기, 배영 팔 동작</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">기초2</div></th>
                      <td><div class="td-wrap">자유형 및 배영 숙달</div></td>
                    </tr>

                    <!-- 2. 초급 -->
                    <tr>
                      <th class="mobile-only-cell" rowspan="4"><div class="th-wrap">초급</div></th>
                      <th><div class="th-wrap">초급1</div></th>
                      <td><div class="td-wrap">평영 발차기</div></td>
                      <td rowspan="4" class="no-br"><div class="td-wrap">4개월</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">초급2</div></th>
                      <td><div class="td-wrap">평영 팔동작</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">초급3</div></th>
                      <td><div class="td-wrap">평영 종합동작</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">초급4</div></th>
                      <td><div class="td-wrap">평영 숙달</div></td>
                    </tr>

                    <!-- 3. 중급 -->
                    <tr>
                      <th class="mobile-only-cell" rowspan="4"><div class="th-wrap">중급</div></th>
                      <th><div class="th-wrap">중급1</div></th>
                      <td><div class="td-wrap">접영 발차기</div></td>
                      <td rowspan="4" class="no-br"><div class="td-wrap">4개월</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">중급2</div></th>
                      <td><div class="td-wrap">접영 팔동작</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">중급3</div></th>
                      <td><div class="td-wrap">접영 종합동작</div></td>
                    </tr>
                    <tr>
                      <th><div class="th-wrap">중급4</div></th>
                      <td><div class="td-wrap">접영 숙달/자융형 팔꺾기</div></td>
                    </tr>

                    <!-- [모바일에서만] 4. 상급 -->
                    <tr class="mobile-only-tr">
                      <th><div class="th-wrap">상급</div></th>
                      <td><div class="td-wrap">6개월</div></td>
                      <td colspan="2" class="no-br"><div class="td-wrap">각 영법 숙달 및 지구력 강화, 자세교정, 턴, 스타트, 응용영법,
                        각 영법별 물잡기 훈련, 핀수영 운동량 1000M 이상</div></td>
                    </tr>

                    <!-- [모바일에서만] 5. 연수 -->
                    <tr class="mobile-only-tr">
                      <th class="no-bb"><div class="th-wrap">연수</div></th>
                      <td class="no-bb"><div class="td-wrap">24개월</div></td>
                      <td colspan="2" class="no-br"><div class="td-wrap">잠영, 입영, 스타트, 핀수영 운동량 1400M 이상</div></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="flex1 custom-info-table pc-only">
                <table aria-describedby="table-description">
                  <caption class="visually-hidden">수영 수준별 진도표: 주5회, 주3회 강습반, 주2회 강습반의 상금 연수에 관한 표</caption>
                  <colgroup>
                    <!-- 첫 번째 열: 50px -->
                    <col style="width:50px;"/>
                    <!-- 두 번째 열: 3 부분 중 하나 -->
                    <col style="width:299px;"/>
                    <!-- 세 번째 열: 5 부분 중 하나 -->
                    <col style="width:calc((100% - 50px) * 5 / 8);"/>
                  </colgroup>
                  <tbody>
                  <!-- 1. 기초 -->
                  <tr>
                    <th><div class="th-wrap">상급</div></th>
                    <td><div class="td-wrap">6개월</div></td>
                    <td class="no-br pd-sm">
                      <div class="td-wrap left">
                        각 영법 숙달 및 지구력 강화, 자세교정, 턴, 스타트, 응용영법,
                        각 영법별 물잡기 훈련, 핀수영 운동량 1000M 이상
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="no-bb"><div class="th-wrap">연수</div></th>
                    <td class="no-bb"><div class="td-wrap">24개월 이상</div></td>
                    <td class="no-br no-bb pd-sm">
                      <div class="td-wrap left">잠영, 입영, 스타트, 핀수영 운동량 1400M 이상</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-content-box">
          <h4 class="sub-title2">[스케이트 수준별 진도표]</h4>
          <div class="custom-info-table-wrap" style="max-width:702px;">
            <div class="flex1 custom-info-table">
              <table>
                <caption class="visually-hidden">스케이트 수준별 진도표: 주5회, 주3회 강습반</caption>
                <colgroup>
                  <col style="width:80px;"/>
                  <col style="width:190px;"/>
                  <col style="width:70px;"/>
                  <col style=""/>
                  <col style="width: 70px;"/>
                </colgroup>
                <thead>
                <tr>
                  <th rowspan="2"><div class="th-wrap">구분</div></th>
                  <th colspan="2"><div class="th-wrap">스피드 스케이팅</div></th>
                  <th colspan="3" class="no-br"><div class="th-wrap">피겨스키이팅</div></th>
                </tr>
                <tr>
                  <th><div class="th-wrap">강습내용</div></th>
                  <th><div class="th-wrap">강습기간</div></th>
                  <th><div class="th-wrap">강습내용</div></th>
                  <th class="no-br"><div class="th-wrap">강습기간</div></th>
                </tr>
                </thead>
                <tbody>
                <!-- 1. 초급 -->
                <tr>
                  <th rowspan="3"><div class="th-wrap">초급</div></th>
                  <td rowspan="3">
                    <div class="td-wrap">
                      걷기,발밀고 모으기, 찍기
                    </div>
                  </td>
                  <td rowspan="3"><div class="td-wrap">3개월</div></td>
                  <td class="pd-sm"><div class="td-wrap">얼음적응, 넘어지기, 일어나기, 걷기, 밀기</div></td>
                  <td class="no-br"><div class="td-wrap">2개월</div></td>
                </tr>
                <tr>
                  <td class="pd-sm">
                    <div class="td-wrap">
                      양팔들고 밀어서 한반 들고 가기(반원),양팔 들고
                      앞/뒤 반달 밀기,양팔 들고 옆으로 걸으며
                      크로스오버(코너연습)
                    </div>
                  </td>
                  <td class="no-br"><div class="td-wrap">2개월</div></td>
                </tr>
                <tr>
                  <td class="pd-sm">
                    <div class="td-wrap">
                      양팔들고 원위에서 앞/뒤로 크로스오버(코너연습),
                      반원위에서 앞으로 인/아웃사이드
                      한발 들고 가기(초급과제항목)
                    </div>
                  </td>
                  <td class="no-br"><div class="td-wrap">2개월</div></td>
                </tr>
                <!-- 2. 중급 -->
                <tr>
                  <th rowspan="3"><div class="th-wrap">중급</div></th>
                  <td rowspan="3" class="pd-sm">
                    <div class="td-wrap">
                      찍기(직선동작),
                      코너 발넘기기,손동작 코너
                    </div>
                  </td>
                  <td rowspan="3"><div class="td-wrap">4개월</div></td>
                  <td><div class="td-wrap">8자 크로스오버 앞/뒤로 팔동작 및 여러 엣지동작</div></td>
                  <td class="no-br"><div class="td-wrap">1개월</div></td>
                </tr>
                <tr>
                  <td class="pd-sm">
                    <div class="td-wrap">
                      토스텝, 펜스잡고 런지, 스케이팅하며
                      런지 버니홉, 체크아웃
                    </div>
                  </td>
                  <td class="no-br"><div class="td-wrap">1개월</div></td>
                </tr>
                <tr>
                  <td class="pd-sm">
                    <div class="td-wrap">
                      한발 원스핀, 제자리 왈츠점프
                      모학스텝, 스텝응용
                    </div>
                  </td>
                  <td class="no-br"><div class="td-wrap">1개월</div></td>
                </tr>
                <!-- 3. 상급 -->
                <tr>
                  <th><div class="th-wrap">상급</div></th>
                  <td><div class="td-wrap">손동작 코너, 직선코너 활주, 활주 위주 강습, 스타트</div></td>
                  <td><div class="td-wrap">5개월</div></td>
                  <td class="pd-sm"><div class="td-wrap">모학스텝 연결 왈츠 점프 원스핀, 모학스텝, 왈츠점프, 여러 엣지스케이팅</div></td>
                  <td class="no-br"><div class="td-wrap">지속</div></td>
                </tr>
                <!-- 4. 마스터반 -->
                <tr>
                  <th class="no-bb"><div class="th-wrap">마스터반<br>(특별반)</div></th>
                  <td class="no-bb"><div class="td-wrap">담당선생님 상담 후 수업 진행</div></td>
                  <td class="no-bb"><div class="td-wrap">-</div></td>
                  <td class="pd-sm no-bb"><div class="td-wrap">고난이도 기술 및 국가자격증 취득 요망시 담당선생님 상담 후 수업 진행</div></td>
                  <td class="no-br no-bb"><div class="td-wrap">-</div></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <h5>2. 장바구니 등 공통 테이블 디자인</h5>
      <div class="box">
        <div class="flex-wrap between al-center mb-12">
          <p class="txt-md fw-medium c-gray"><em class="txt-md fw-bold c-blue">10</em>개의 강좌가 있습니다.</p>
          <button type="button" class="btn sm outlined c-red">선택 삭제</button>
        </div>

        <div class="custom-table pc-only">
          <table>
            <caption class="visually-hidden">장바구니 표</caption>
            <colgroup>
              <col style="width:50px;"/>
              <col style=""/>
              <col style="width:80px;"/>
              <col style="width:100px;"/>
              <col style="width:100px;"/>
              <col style="width:200px;"/>
            </colgroup>
            <thead>
            <tr>
              <th><div class="th-wrap"><span class="visually-hidden">선택</span></div></th>
              <th><div class="th-wrap">내용</div></th>
              <th><div class="th-wrap">강습반</div></th>
              <th><div class="th-wrap">강사</div></th>
              <th><div class="th-wrap">인원수<br>(인원/정원)</div></th>
              <th><div class="th-wrap">수강료(원)</div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="td-wrap center">
                  <label class="custom-checkbox">
                    <input type="checkbox" aria-checked="false">
                    <span class="checkmark" aria-hidden="true"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <div class="flex-wrap col-ver gap-auto">
                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                    <p class="txt-rgl fw-bold mb-8">검도 06:00~07:30(월화목금)성인</p>
                    <ul class="vertical-bar-list">
                      <li>
                        <span class="txt-sm fw-medium c-gray">강습일정</span>
                      </li>
                      <li>
                        <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  성인반
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  홍길동
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <p class="txt-sm fw-medium c-blue">29/30</p>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <div class="flex-wrap col-ver al-center gap-auto">
                    <div class="flex-wrap al-center center gap-auto gap4 mb-4">
                      <span class="txt-xs fw-medium c-light-gray deco-line">62,000</span>
                      <span class="txt-rgl fw-medium">55,800</span>
                    </div>
                    <span class="txt-sm fw-medium c-red">[여성보건할인 -10% ↓]</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="td-wrap center">
                  <label class="custom-checkbox">
                    <input type="checkbox" aria-checked="false">
                    <span class="checkmark" aria-hidden="true"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <div class="flex-wrap col-ver gap-auto">
                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                    <p class="txt-rgl fw-bold mb-8">검도 06:00~07:30(월화목금)성인</p>
                    <ul class="vertical-bar-list">
                      <li>
                        <span class="txt-sm fw-medium c-gray">강습일정</span>
                      </li>
                      <li>
                        <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  성인반
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  홍길동
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <p class="txt-sm fw-medium c-blue">29/30</p>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <div class="flex-wrap col-ver al-center gap-auto">
                    <div class="flex-wrap al-center center gap-auto gap4 mb-4">
                      <span class="txt-xs fw-medium c-light-gray deco-line">62,000</span>
                      <span class="txt-rgl fw-medium">55,800</span>
                    </div>
                    <span class="txt-sm fw-medium c-red">[여성보건할인 -10% ↓]</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="td-wrap center">
                  <label class="custom-checkbox">
                    <input type="checkbox" aria-checked="false">
                    <span class="checkmark" aria-hidden="true"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <div class="flex-wrap col-ver gap-auto">
                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                    <p class="txt-rgl fw-bold mb-8">검도 06:00~07:30(월화목금)성인</p>
                    <ul class="vertical-bar-list">
                      <li>
                        <span class="txt-sm fw-medium c-gray">강습일정</span>
                      </li>
                      <li>
                        <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  성인반
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  홍길동
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <p class="txt-sm fw-medium c-blue">29/30</p>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <div class="flex-wrap col-ver al-center gap-auto">
                    <div class="flex-wrap al-center center gap-auto gap4 mb-4">
                      <span class="txt-xs fw-medium c-light-gray deco-line">62,000</span>
                      <span class="txt-rgl fw-medium">55,800</span>
                    </div>
                    <span class="txt-sm fw-medium c-red">[여성보건할인 -10% ↓]</span>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6">
                <div class="td-wrap">
                  <div class="total-wrap">
                    <div class="flex-wrap col-ver al-center center gap-auto mb-8">
                      <p class="txt-rgl fw-medium c-gray">총 강좌수 1건</p>
                      <span class="txt-lg fw-bold">62,000원</span>
                    </div>
                    <span class="ico-box minus"><span class="visually-hidden">빼기</span></span>
                    <div class="flex-wrap col-ver al-center center gap-auto mb-8">
                      <p class="txt-rgl fw-medium c-gray">강좌할인금액</p>
                      <span class="txt-lg fw-bold c-red">20,000원</span>
                    </div>
                    <span class="ico-box plus"><span class="visually-hidden">더하기</span></span>
                    <div class="flex-wrap col-ver al-center center gap-auto mb-8">
                      <p class="txt-rgl fw-medium c-gray">입회비</p>
                      <span class="txt-lg fw-bold">10,000원</span>
                    </div>
                    <span class="ico-box equal"><span class="visually-hidden">는</span></span>
                    <div class="flex-wrap center gap12">
                      <span class="txt-lg fw-bold">총 수강료</span>
                      <span class="txt-lg fw-bold c-blue">160,000원</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="custom-table mobile-only">
          <table>
            <caption class="visually-hidden">장바구니 표</caption>
            <colgroup>
              <col style="width:50px;"/>
              <col style=""/>
            </colgroup>
            <thead>
            <tr>
              <th>
                <div class="th-wrap">
                  <span class="visually-hidden">선택</span>
                  <label class="custom-checkbox">
                    <input type="checkbox" aria-checked="false">
                    <span class="checkmark" aria-hidden="true"></span>
                  </label>
                </div>
              </th>
              <th><div class="th-wrap">강좌명</div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="al-start">
                <div class="td-wrap center">
                  <label class="custom-checkbox">
                    <input type="checkbox" aria-checked="false">
                    <span class="checkmark" aria-hidden="true"></span>
                  </label>
                </div>
              </td>
              <td>
                <div class="td-wrap">
                  <div class="flex-wrap col-ver gap-auto">
                    <span class="txt-xs fw-bold c-blue mb-4">검도</span>
                    <p class="txt-rgl fw-bold mb-8">검도 06:00~07:30(월화목금)성인</p>
                    <ul class="vertical-bar-list">
                      <li>
                        <span class="txt-sm fw-medium c-gray">강습반</span>
                      </li>
                      <li>
                        <span class="txt-sm fw-medium">성인반</span>
                      </li>
                    </ul>
                    <ul class="vertical-bar-list">
                      <li>
                        <span class="txt-sm fw-medium c-gray">강사</span>
                      </li>
                      <li>
                        <span class="txt-sm fw-medium">홍길동</span>
                      </li>
                    </ul>
                    <ul class="vertical-bar-list">
                      <li>
                        <span class="txt-sm fw-medium c-gray">강습일정</span>
                      </li>
                      <li>
                        <span class="txt-sm fw-medium">월,화 20:00 ~ 20:50</span>
                      </li>
                    </ul>
                    <ul class="vertical-bar-list">
                      <li>
                        <span class="txt-sm fw-medium c-gray">인원수(현원/정원)</span>
                      </li>
                      <li>
                        <span class="txt-sm fw-medium c-blue">29/30</span>
                      </li>
                    </ul>
                    <div class="flex-wrap end">
                      <div class="flex-wrap col-ver al-end gap-auto">
                        <div class="flex-wrap al-center end gap-auto gap4 mb-4">
                          <span class="txt-xs fw-medium c-light-gray deco-line">62,000</span>
                          <span class="txt-rgl fw-medium">55,800</span>
                        </div>
                        <span class="txt-sm fw-medium c-red">[여성보건할인 -10% ↓]</span>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="guide-box">
      <h2>다. 버튼 관련</h2>
      <h5>1. 텍스트형 버튼</h5>
      <div class="box">
        <button type="button" class="btn outlined">기본 버전</button>
        <button type="button" class="btn outlined" disabled>기본 버전</button>
        <button type="button" class="btn size-sm">작은 크기 버전</button>
        <button type="button" class="btn size-sm" disabled>disabled 버전</button>
        <button type="button" class="btn size-nm" disabled>보통크기 버전</button>
        <button type="button" class="btn sm outlined">회원번호발급</button>
        <button type="button" class="btn sm outlined c-red">결제취소</button>
        <button type="button" class="btn sm outlined" disabled>취소불가</button>
      </div>

      <hr style="margin:20px 0">
      <h5>2. 아이콘형 버튼</h5>
      <div class="box">
        <button type="button" class="ico-btn shop"><span class="visually-hidden">버튼</span></button>
      </div>
    </div>

    <div class="guide-box">
      <h2>라. 폼 관련 (input, textarea, radio, checkbox)</h2>
      <h5>1-1. 체크박스 (글자 존재)</h5>
      <div class="box">
        <label class="custom-checkbox">
          <input type="checkbox" aria-checked="false">
          <span class="checkmark" aria-hidden="true"></span>
          <span>동의합니다</span>
        </label>
      </div>
      <h5>1-2. 체크박스 (글자 X)</h5>
      <div class="box">
        <label class="custom-checkbox">
          <input type="checkbox" aria-checked="false">
          <span class="checkmark" aria-hidden="true"></span>
        </label>
      </div>
    </div>

    <div class="guide-box">
      <h2>마. 뱃지 관련</h2>
      <h5>1. 일반 뱃지</h5>
      <div class="box">
        <span class="badge red">마감</span>
        <span class="badge blue">접수중</span>
      </div>
    </div>

    <div class="guide-box">
      <h2>바. 확인창</h2>
      <h5>1. 일반 모달창</h5>
      <div class="box flex-wrap col-ver">
        <button type="button" class="btn outlined" onclick="showModal('modal1');">[느낌표]1. 정말 선택하신 회원번호를 사용하시겠습니까?</button>
        <button type="button" class="btn outlined" onclick="showModal('modal2');">[X]2. 센터가입 정보입력을 중단하시겠습니까?</button>
        <button type="button" class="btn outlined" onclick="showModal('modal3');">[물음표]3. 정말 선택하신 회원번호를 사용하시겠습니까?</button>
        <button type="button" class="btn outlined" onclick="showModal('modal4');">[체크]4. 강좌가 장바구니에 담겼습니다.</button>
        <button type="button" class="btn outlined" onclick="showModal('modal-onlineUserCard');">[바코드]4. 모바일 회원카드</button>
      </div>
      <!-- [모달] 1. 가입하신 센터가 없습니다. -->
      <div id="modal1" class="modal">
        <div class="modal-content sm pd-auto">
          <div class="confirm-box">
            <img src="../../resources/images/ico/ico_exp.svg" alt="" />
            <p class="c-em">가입하신 센터가 없습니다.</p>
            <p class="c-desc">센터 가입을 진행해주세요.</p>
          </div>
          <div class="flex-wrap center">
            <button type="button" class="btn outlined size-nm" onclick="hideModal('modal1')">홈으로 돌아가기</button>
            <button type="button" class="btn size-nm" onclick="hideModal('modal1')">센터 가입하기</button>
          </div>
        </div>
      </div>

      <!-- [모달] 2. 센터가입 정보입력을 중단하시겠습니까? -->
      <div id="modal2" class="modal">
        <div class="modal-content sm pd-auto">
          <div class="confirm-box">
            <img src="../../resources/images/ico/ico_error.svg" alt="" />
            <p class="c-em">센터가입 정보입력을 중단하시겠습니까?</p>
            <p class="c-desc">센터가입을 취소하시면 지금까진 입력하신 <br>내용이 저장되지 않습니다.</p>
          </div>
          <div class="flex-wrap center">
            <button type="button" class="btn outlined size-nm" onclick="hideModal('modal2')">중단하기</button>
            <button type="button" class="btn size-nm" onclick="hideModal('modal2')">계속 진행하기</button>
          </div>
        </div>
      </div>

      <!-- [모달] 3. 정말 선택하신 회원번호를 사용하시겠습니까? -->
      <div id="modal3" class="modal">
        <div class="modal-content sm pd-auto">
          <div class="confirm-box">
            <img src="../../resources/images/ico/ico_question.svg" alt="" />
            <p class="c-em">정말 선택하신 회원번호를 사용하시겠습니까?</p>
            <p class="c-desc">선택하지 않은 회원번호 및 해당 회원번호의<br>수강/결제내역은 삭제됩니다.</p>
          </div>
          <div class="flex-wrap center">
            <button type="button" class="btn outlined size-sm" onclick="hideModal('modal3')">취소</button>
            <button type="button" class="btn size-sm" onclick="hideModal('modal3')">확인</button>
          </div>
        </div>
      </div>

      <!-- [모달] 4. 강좌가 장바구니에 담겼습니다. -->
      <div id="modal4" class="modal" role="dialog" aria-labelledby="modal4-title" aria-describedby="modal4-desc" aria-hidden="true">
        <div class="modal-content sm pd-auto" tabindex="-1">
          <div class="confirm-box">
            <img src="../../resources/images/ico/ico_checked.svg" alt="">
            <p class="c-em">강좌가 장바구니에 담겼습니다.</p>
            <p class="c-desc">장바구니로 이동하시겠습니까?</p>
          </div>
          <div class="flex-wrap center">
            <button type="button" class="btn outlined size-nm" id="continueBtn" onclick="hideModal('modal4')">계속 수강신청하기</button>
            <button type="button" class="btn size-nm" id="cartBtn" onclick="hideModal('modal4')">장바구니로 이동</button>
          </div>
        </div>
      </div>


      <!-- [모달] 5. 모바일 회원카드 -->
      <div id="modal-onlineUserCard" class="modal">
        <div class="modal-content mobile-rotate">
          <div class="title-wrap">
            <h3>모바일 회원카드</h3>
            <button type="button" onclick="hideModal('modal-onlineUserCard')" class="close-btn"><span class="visually-hidden">닫기</span></button>
          </div>
          <div class="modal-body">
            <div class="flex-wrap col-ver bc-box gap-auto">
              <p class="bc-pl-tit">올림픽수영장</p>
              <p class="bc-user-name">홍길동</p>
              <p class="bc-user-num">회원번호: 2506002455</p>
              <div class="bc-img-box">
                <img src="../../resources/images/subPage/bgimg.png" alt="바코드 임시 이미지"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="guide-box">
      <h2>사. 탭 관련</h2>
      <h5>1. 탭</h5>
      <div class="box">
        <div class="tab-wrap">
          <ul class="first-depth">
            <li class="">
              <button type="button" class="tab"><span>스포츠교실</span></button>
              <div class="tab-box">
                <a href="#">sdfkjskdfs</a>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
               스포츠 교실 내용 입니다.<br>
             </div>
            </li>
            <li>
              <button type="button" class="tab"><span>분당스포츠센터</span></button>
              <div class="tab-box">
                <a href="#">sdfkjskdfs</a>
                분당스포츠센터 내용 입니다.
              </div>
            </li>
            <li>
              <button type="button" class="tab"><span>일산스포츠센터</span></button>
              <div class="tab-box">
                <a href="#">sdfkjskdfs</a>
                일산스포츠센터 내용 입니다.
              </div>
            </li>
            <li>
              <button type="button" class="tab"><span>올림픽수영장</span></button>
              <div class="tab-box">
                <a href="#">sdfkjskdfs</a>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
                올림픽수영장 내용 입니다.<br>
              </div>
            </li>
            <li class="active">
              <button type="button" class="tab"><span>수영장</span></button>
              <div class="tab-box">
                <a href="#">sdfkjskdfs</a>
                수영장 내용 입니다.
              </div>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>



    <!-- 1. 라디오 버튼 -->
  </div>
</main>
<script>
  // 초기화
  new TabManager();
</script>
</body>
</html>