<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css -->
    <link rel="stylesheet" href="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">
    <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">
    <link rel="stylesheet" href="../../resources/css/main.css">

    <!-- lib -->
    <script src="../../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <script src="../../resources/lib/swiper/swiper.js"></script>

    <!-- js -->
    <script src="../../resources/js/main.js"></script>

    <title>로그인</title>
    <style>
        /*.content-box{padding-top:20px;}*/
        /*.content-box > img{width:100%;}*/
    </style>
</head>
<body data-text-size="normal">
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>

<!-- [공통] 글자 텍스트 아이콘 -->
<div class="fixed-btn-wrap">
    <button type="button" class="txt-size-btn sm"><span class="visually-hidden">글씨 크게 보기</span></button>
    <button type="button" class="txt-size-btn rg active"><span class="visually-hidden">글씨 보통 보기</span></button>
    <button type="button" class="txt-size-btn lg"><span class="visually-hidden">글씨 크게 보기</span></button>
</div>

<!-- 헤더 -->
<header>
    <!-- [사이드바] dim 처리 영역 -->
    <div id="dim-overlay" class="dim"></div>
    <div class="content-wrap">
        <h1>
            <a href="../user/main.html">
                <img src="../../resources/images/common/kspo_logo.svg" alt="한국체육산업개발주식회사 수강신청" />
            </a>
        </h1>
        <nav class="sidebar">
            <!-- pc 에서의 gnb -->
            <ul class="pc-only-f">
                <li><a href="../user/cs_center_join.html">센터가입</a></li>
                <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
            <!-- mobile 에서의 gnb -->
            <div class="sidebar-title-wrap mobile-only-f">
                <a href="../user/login.html" class="user-btn">로그인</a>
                <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="sidebar-menu-wrap">
                <ul class="sidebar-list mobile-only">
                    <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                    <li><a href="../user/cs_center_join.html">센터가입</a></li>
                    <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                    <li><a href="../user/cs_shopping_cart.html">장바구니</a></li>
                    <li><a href="../user/cs_payment_history.html">결제내역</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn-wrap pc-only-f">
            <a href="../user/login.html" class="ico-user"><span>로그인</span></a>
            <a href="../user/cs_shopping_cart.html" class="ico-bag"><span>장바구니</span></a>
            <a href="../user/cs_payment_history.html" class="ico-pay"><span>결제내역</span></a>
        </div>
        <div class="btn-wrap sm mobile-only-f">
            <a href="../user/login.html" class="ico-btn ico-user"><span class="visually-hidden">로그인</span></a>
            <a href="#" class="ico-btn ico-bc"><span class="visually-hidden">바코드</span></a>
            <button type="button" class="ico-btn ico-hamburger"><span class="visually-hidden">메뉴 열기</span></button>
        </div>
    </div>
</header>

<!-- 메인 -->
<main id="main" class="login">
    <div class="login-box">
        <div class="login-title-wrap">
            <h2><img src="../../resources/images/common/kspo_logo2.svg" alt="한국체육산업개발주식회사 수강신청" /></h2>
            <h3>온라인수강신청 관리자 전용</h3>
        </div>
        <div class="login-input-wrap">
            <div class="login-input">
                <label for="user-num">회원번호</label>
                <div class="input-wrap2">
                    <input id="user-num" type="text" placeholder=""/>
                </div>
            </div>
            <div class="login-input">
                <label for="user-birth">생년월일 6자리</label>
                <div class="input-wrap2">
                    <input id="user-birth" type="text" placeholder=""/>
                </div>
            </div>
        </div>
        <div class="login-btn-wrap flex-wrap">
            <button type="button" class="btn size-full">로그인</button>
        </div>
    </div>
</main>
</body>
</html>