/* 공통으로 사용하는 컴포넌트가 담겨 있습니다. */

/* 리스트 종류 */
/* 1-1. ※ 리스트 */
.reference-list {}
.reference-list > li {padding-left:12px;position:relative;font-size:var(--txt-size01);font-weight:var(--fw-medium);color:var(--color-gray);}
.reference-list > li + li {margin-top:2px;}
.reference-list > li::before {content:'※';font-size:inherit;position:absolute;left:0;top:0;}

/* 1-2. * 리스트 */
.star-list {}
.star-txt,
.star-list > li {padding-left:12px;position:relative;font-size:var(--txt-size02);font-weight:var(--fw-medium);color:var(--color-gray);}
.star-list > li + li {margin-top:2px;}
.star-txt::before,
.star-list > li::before {content:'*';font-size:inherit;position:absolute;left:0;top:2px;}

/* 1-3. | 리스트 */
.vertical-bar-list {display:flex;flex-wrap:wrap;}
.vertical-bar-list > * {position:relative;display:inline-flex;}
.vertical-bar-list > * + *::before {content:'';width:1px;height:10px;background-color:var(--border-color);position:absolute;left:0;top:50%;transform:translateY(-50%);}
.vertical-bar-list > *:not(:first-child) {padding:0 8px;}
.vertical-bar-list > *:first-child {padding-right:8px;}

/* 1-4. - 리스트 */
.dash-list {}
.dash-list > li {padding-left:12px;position:relative;font-size:var(--txt-size02);font-weight:var(--fw-medium);color:var(--color-gray);}
.dash-list > li + li {margin-top:0;}
.dash-list > li::before {content:'-';font-size:inherit;position:absolute;left:0;top:-1px;}
.dash-list.sm > li {padding-left:8px;font-size:var(--txt-size01);}
.dash-list.sm > li + li {margin-top:0;}
.dash-list.sm > li::before {content:'-';font-size:inherit;position:absolute;left:0;top:-1px;}

/* 리스트 공통 */
.dash-list > li.c-red {color:var(--color-red);}


/* ------------------------------------------------------- */
/* 버튼 : 기본 (배경색 존재) */
.btn {display:flex;justify-content:center;align-items:center;flex: 0 0 auto;flex-shrink: 0  ;flex-grow: 0;padding:16px;font-size:var(--txt-size04);border:2px solid transparent;border-radius:4px;font-weight:var(--fw-bold);color:var(--color-white);background-color:var(--color-primary);transition:all 0.3s;}
.btn:not(.outlined).blink {animation:blink 1s infinite;}
.btn:hover.blink {animation: none;}
.btn:not(:disabled):hover {background-color: var(--color-primary-dark);}
.btn.outlined {border-color:var(--border-color);color:var(--color-gray);font-weight:var(--fw-medium);background-color:var(--color-white);}
.btn.outlined:not(:disabled):hover {font-weight:var(--fw-bold);color:var(--color-primary);border-color:var(--color-primary);background-color:var(--color-white);}
.btn.outlined:not(:disabled).c-red:hover {color:var(--color-red);border-color:var(--color-red);}

/* 버튼 너비 관련 */
.btn.size-sm {min-width:120px;}
.btn.size-md {min-width:160px;}
.btn.size-nm {min-width:200px;}
.btn.size-full {min-width:auto;width:100%;}

/* 버튼 전체적 크기 관련 */
.btn.fixed-xs {padding:6px 12px;font-size:var(--txt-size02);font-weight:var(--fw-medium);border-width:1px;}
.btn.sm {padding:6px 12px;font-size:var(--txt-size02);font-weight:var(--fw-medium);border-width:1px;}
.btn.md {padding:14px;font-size:var(--txt-size02);}
.btn.fixed-md {height:48px;padding:11px 14px;font-size:var(--txt-size02);}
.btn.c-red {color:var(--color-red);}
.btn.outlined.c-red.blink {animation:blinkOutlineRed 1s infinite;}
.btn.outlined.blink {animation:blinkOutline 1s infinite;}
.btn.outlined:hover.blink {animation: none;}


/* 버튼 disabled */
.btn:disabled,
.btn.outlined:disabled {color:var(--color-gray2);background-color:var(--color-disabled);font-weight:var(--fw-medium);cursor: default;transition:none;border-color:var(--color-transparent);}

/* 깜빡이는 효과 */
@keyframes blink {
  0% {
    background-color: var(--color-primary);
  }
  50% {
    background-color: var(--color-primary-dark);
  }
  100% {
    background-color: var(--color-primary);
  }
}
@keyframes blinkOutline {
  0% {
    border-color: var(--color-primary);
    color:var(--color-primary);
  }
  50% {
    border-color: var(--border-color);
    color:var(--color-gray);
  }
  100% {
    border-color: var(--color-primary);
    color:var(--color-primary);
  }
}
@keyframes blinkOutlineRed {
  0% {
    border-color: var(--color-red);
    color:var(--color-red);
  }
  50% {
    border-color: var(--border-color);
    color:var(--color-gray);
  }
  100% {
    border-color: var(--color-red);
    color:var(--color-red);
  }
}

@media (max-width: 767px) {
  /* 버튼 : 기본 (배경색 존재) */
  .btn {padding:12px 14px;border-width:1px;}

  /* 버튼 너비 관련 */
  .btn.size-sm {min-width:auto; max-width:100%;width:100%;flex:1;}
  .btn.size-nm {min-width:auto; max-width:100%;width:100%;flex:1;}
  .btn.size-md {min-width:auto;}
  /* 버튼 전체적 크기 관련 */
  .btn.fixed-md {height:40px;padding:11px 14px;}

  .btn.sm.mo-sm{padding:8px;height:32px;}
}

/* 아이콘 버튼 */
.ico-btn {display:inline-flex;align-items:center;justify-content:center;width:40px;height:40px;position:relative;transition:border-color 0.3s;cursor:pointer;}
.ico-btn.outlined {border-radius:8px;border:2px solid var(--border-color);}
.ico-btn:hover {border-color:var(--color-primary);}
.ico-btn.shop {background:var(--color-white) url('../images/ico/ico_shop_plus.svg') no-repeat center center;background-size:28px;}

/* 해당 아이콘은 모바일에서만 존재하여 고정함 */
.ico-btn.ico-bc{width:28px;height:28px;background:url(../images/ico/ico_bc.svg) center top no-repeat;background-size:28px;}
.ico-btn.ico-hamburger{width:28px;height:28px;background:url(../images/ico/ico_menu.svg) center top no-repeat;background-size:28px;}

/* 커스텀 버튼 */
.custom-btn {width:100%;display:flex;align-items:center;position:relative;padding:16px;border:1px solid var(--border-color);border-radius:4px;transition:all 0.3s;cursor:pointer;}
.custom-btn:not(:disabled):not(.active):hover{border-width:2px;border-color:var(--color-primary);background-color:var(--color-primary-light)}
.custom-btn:disabled{cursor: default;background-color:var(--color-disabled);}
.custom-btn:disabled *:not(.float){color:var(--color-gray2);}
.custom-btn:disabled .float {color:var(--color-gray);}
.custom-btn.active{border-width:2px;border-color:var(--color-primary);}
.float {position:absolute;right:16px;top:16px;}

@media (max-width: 767px) {
  .custom-btn {padding:12px;}
}
/* ------------------------------------------------------- */
/* 체크박스 */
/* 체크박스 숨기기 */
.checkbox-wrap input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
/* 체크박스 스타일 */
.checkbox-wrap {display:inline-flex;align-items: center;gap: 4px;cursor: pointer;}
.agree-wrap .checkbox-wrap {gap:8px;}
/* 체크박스 비주얼 */
.checkbox-wrap .checkmark {width: 28px;height: 28px;background: url('../images/ico/ico_checked_empty.svg') no-repeat center / contain;display: inline-block;transition: all 0.3s;}
.checkbox-wrap .checkmark + span {font-size:var(--txt-size02);font-weight:var(--fw-medium);color:var(--color-black);}
/* 체크된 상태 */
.checkbox-wrap input:focus:checked + .checkmark,
.checkbox-wrap input:checked + .checkmark {
  background: url('../images/ico/ico_checked_active.svg') no-repeat center / contain;
}
/* 포커스 스타일 */
.checkbox-wrap input:focus + .checkmark {  background: url('../images/ico/ico_checked_focus.svg') no-repeat center / contain;}
/* ------------------------------------------------------- */
/* 체크박스 (뱃지 모양) */
.checkbox-badge-wrap input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
/* 체크박스 스타일 */
.checkbox-badge-wrap {display:inline-flex;align-items: center;gap: 4px;cursor: pointer;}
/* 체크박스 비주얼 */
.checkbox-badge-wrap span {display:inline-flex;padding:7px 12px;border-radius:20px;border-width:2px;border-style:solid;border-color:var(--color-transparent);font-size:var(--txt-size02);font-weight:var(--fw-medium);color:var(--color-black);transition: all 0.3s;}
/* 체크된 상태 */
/*.checkbox-badge-wrap input:focus + span,*/
/*.checkbox-badge-wrap input:focus:checked + span,*/
.checkbox-badge-wrap input:focus + span{border-color:var(--color-primary);}
.checkbox-badge-wrap input:checked + span {color:var(--color-primary);font-weight:var(--fw-bold);border-color:var(--color-primary)}
/* ------------------------------------------------------- */
/* a. 라디오 (일반 디자인) */
/* 라디오 숨기기 */
.radio-wrap input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
/* 라디오 스타일 */
.radio-wrap {display:inline-flex;align-items: center;gap: 4px;cursor: pointer;}
/* 라디오 비주얼 */
.radio-wrap .radiomark {width: 20px;height: 20px;background: url('../images/ico/ico_radio_empty.svg') no-repeat center / contain;display: inline-block;transition: all 0.3s;}
.radio-wrap .radiomark + span {font-size:var(--txt-size02);font-weight:var(--fw-medium);color:var(--color-black);}
/* 체크된 상태 */
.radio-wrap input:focus:checked + .radiomark,
.radio-wrap input:checked + .radiomark {
  background: url('../images/ico/ico_radio_active.svg') no-repeat center / contain;
}
/* 포커스 스타일 */
.radio-wrap input:focus + .radiomark {
  background: url('../images/ico/ico_radio_focus.svg') no-repeat center / contain;
}

/*.radio-wrap input:focus + .radiomark {  background: url('../images/ico/ico_radio_focus.svg') no-repeat center / contain;}*/

/* b. 라디오 (탭 디자인) */
.radio-tab-wrap {display:inline-flex;align-items:center;border-radius:4px;overflow:hidden;}
.radio-tab > input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.radio-tab input:checked + span {background-color:var(--color-primary);color:var(--color-white);font-weight:var(--fw-bold);border-color:var(--color-primary);}
.radio-tab span {display:inline-flex;justify-content:center;align-items:center;min-width:100px;height:48px;padding:11px;font-size:var(--txt-size02);font-weight:var(--fw-medium);border-top:1px solid var(--border-color);border-bottom:1px solid var(--border-color);}
.radio-tab + .radio-tab {border-left:1px solid var(--border-color);}
.radio-tab-wrap > .radio-tab:first-child > span {border-radius:4px 0 0 4px;overflow:hidden;border-left:1px solid var(--border-color);}
.radio-tab-wrap > .radio-tab:last-child > span {border-radius:0 4px 4px 0;overflow:hidden;border-right:1px solid var(--border-color);}
/*.radio-tab input:checked:focus + span {background-color:var(--color-white);color:var(--color-primary);border:1px solid var(--color-primary);}*/
/*.radio-tab input:focus + span {background-color:var(--color-white);color:var(--color-primary);font-weight:var(--fw-bold);}*/
@media (max-width: 767px) {
  .radio-tab span {padding:9px;height: 40px;}
}

/* c. 라디오(결제내역 아이콘 디자인) */
.radio-ico-tab > input {position: absolute;width: 1px;height: 1px;overflow: hidden;clip: rect(0 0 0 0);white-space: nowrap;clip-path: inset(50%);}
.radio-ico-tab input + span {min-width:160px;display:inline-flex;align-items:center;justify-content:center;padding:64px 20px 16px 20px;border-radius:4px;border:1px solid var(--border-color2);background-color:var(--color-white);font-size:var(--txt-size03);font-weight:var(--fw-medium);text-align:center;transition:all 0.3s;cursor:pointer;}
.radio-ico-tab input:checked + span {border-color:var(--color-primary);color:var(--color-primary);}
.radio-ico-tab.credit input + span {background:url("../images/common/pay_ico4.svg") center 16px no-repeat;background-size: 40px;}
.radio-ico-tab.credit input:checked + span {background:url("../images/common/pay_ico4_active.svg") center 16px no-repeat;background-size: 40px;}
.radio-ico-tab.account input + span {background:url("../images/common/pay_ico5.svg") center 16px no-repeat;background-size: 40px;}
.radio-ico-tab.account input:checked + span {background:url("../images/common/pay_ico5_active.svg") center 16px no-repeat;background-size: 40px;}
.radio-ico-tab.banktransfer input + span {background:url("../images/common/pay_ico6.svg") center 16px no-repeat;background-size: 40px;}
.radio-ico-tab.banktransfer input:checked + span {background:url("../images/common/pay_ico6_active.svg") center 16px no-repeat;background-size: 40px;}
@media (max-width: 767px) {
  .radio-ico-tab {flex:1;}
  .radio-ico-tab input + span {min-width:auto;width:100%;padding:64px 6px 16px 6px;height:114px;}
}

/* ------------------------------------------------------- */
/* 인풋 */
.input-wrap{width:200px;display:inline-flex;overflow:hidden;height:48px;}
.input-wrap > input {width:100%;height:100%;padding:10px 14px;border:1px solid var(--border-color);border-radius:4px;font-size:var(--txt-size02);font-weight:var(--fw-medium);color:var(--color-black)}
.input-wrap > input:focus {outline:none;border-color:var(--color-primary);}

.input-wrap.size-sm {width:80px;}
.input-wrap.size-md {width:120px;}
.input-wrap.size-full {width:100%;}

@media (max-width: 767px) {
  .input-wrap{height:40px;}
  .input-wrap > input {padding:10px 8px;}
}

/* ------------------------------------------------------- */
/* 데이트 피커 */
/*.date {width:140px;height:48px;}*/
.calendar {display:flex;padding-left:108px;position:relative;font-size:var(--txt-size04);color:var(--color-gray);font-weight:var(--fw-bold);}
.calendar > legend {position:absolute;left:0;top:50%;transform:translateY(-50%);}
.date {width:150px;}
.date > input {width:100%;height:48px;padding:14px 40px 14px 14px;font-size:var(--txt-size02);font-weight:var(--fw-medium);color:var(--color-black);border:1px solid var(--border-color);border-radius:4px;background:url('../images/ico/ico_calendar.svg') right 12px center no-repeat;background-size:24px;}
.date > input:focus {outline:none;border-color:var(--color-primary);}
.calendar-wrap.flex-wrap {gap:4px;width:100%;}

@media (max-width: 1200px) {
  .calendar {padding-left:0;width: 100%;}
  .calendar > legend {position:static;transform:none;margin-bottom:4px;}
  .date {width:100%;}
  .date > input {width:100%;height:40px;padding:8px;background:url('../images/ico/ico_calendar.svg') right 8px center no-repeat;background-size:16px;}
}

/* ------------------------------------------------------- */
/* 셀렉트박스 */
.custom-select {width:200px;position:relative;font-family:inherit;overflow:hidden;}
.custom-select.active {overflow:initial;}
.select-toggle {width:100%;height:48px;padding: 10px;text-align: left;border: 1px solid var(--border-color);border-radius:4px;background:var(--color-white) url("../images/ico/ico_select_arrow.svg") right 12px center no-repeat;background-size:14px;cursor: pointer;transition:background 0.2s;}
.select-toggle:disabled{background:#fff!important;}
.select-toggle[aria-expanded="true"] {background:var(--color-white) url("../images/ico/ico_select_arrow_active.svg") right 12px center no-repeat;}
.select-toggle:focus {border-width:2px;border-color:var(--color-primary);}
.select-list {position: absolute;width: 100%;background: var(--color-white);border: 1px solid var(--border-color);border-top: none;max-height: 200px;overflow-y: auto;visibility:hidden;opacity:0;z-index: 10;top: -9999px;left: -9999px;}
.select-list[aria-hidden="false"] {visibility: visible;opacity: 1;pointer-events: auto;  top: 48px;left: 0;}
.select-list li {cursor: pointer;}
.select-list li > a,
.select-list li > button {padding: 10px;}
.select-list li:hover,
.select-list li[aria-selected="true"] {background: var(--color-primary-light);color: var(--color-white);}

@media (max-width: 1200px) {
  .select-toggle {height:40px;}
}

/* 위로 열리기 */
.custom-select.up .select-list[aria-hidden="false"] {top:auto;left: 0;bottom:40px;border: 1px solid var(--border-color);border-bottom: none;}
/* footer안에서의 셀렉트박스 */
.custom-select[data-select="footer"] {}
.custom-select[data-select="footer"]  .select-toggle {height: 40px;padding:10px 10px 10px 12px;}
.custom-select[data-select="footer"] .select-toggle[aria-expanded="true"] {linear-gradient(to bottom, red 3 0%, rgba(51, 51, 51, 0) 100%) url("../images/ico/ico_select_arrow_active.svg") right 10px center no-repeat;}
.custom-select[data-select="footer"] .select-toggle:focus {border-width:2px;border-color:var(--color-primary);}
.custom-select[data-select="footer"] .select-toggle {border-radius:0;border-width: 0 0 1px 0;}

/* 링크 */
/* 텍스트 관련(링크) */
.direct-link {display:inline-block;line-height:20px;padding-left:22px;padding-right:22px;position:relative;background:url('../images/ico/ico_i.svg') 0 center no-repeat;background-size:20px;font-size:var(--txt-size02);font-weight: var(--fw-medium);color:var(--color-gray);}
.direct-link::after{content:'';width:20px;height:20px;background:url('../images/ico/ico_link.svg') center center no-repeat;background-size:20px;position:absolute;right:0;top:50%;transform:translateY(-50%);}
@media (max-width: 767px) {
  .direct-link{padding-left:22px;padding-right:12px;}
  .direct-link::after {width:12px;height:12px;background-size: 16px;}
}

/* ------------------------------------------------------- */
/* 뱃지 */
.badge {text-decoration:none!important;width: fit-content;display:inline-flex;padding:4px 8px;border-radius:8px;font-size:var(--txt-size01);font-weight:var(--fw-bold);}
.badge.red {background-color:var(--bg-light-red);color:var(--color-red);text-decoration:none!important;}
.badge.blue {background-color:var(--bg-light-blue);color:var(--color-primary-dark);text-decoration:none!important;}

/* 텍스트 관련 (기본) */
.relative-box {position:relative;}
.ds-block {display: block!important;}
.txt-xlg {font-size:var(--txt-size07);color:var(--color-black);}
.txt-lg {font-size:var(--txt-size05);color:var(--color-black);}
.txt-md {font-size:var(--txt-size04);color:var(--color-black);}
.txt-rgl {font-size:var(--txt-size03);color:var(--color-black);}
.txt-sm {font-size:var(--txt-size02);color:var(--color-black);}
.txt-xs {font-size:var(--txt-size01);color:var(--color-black);}
.ellipsis {display:block;width:100%;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ellipsis2 {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; word-break: break-word;}
.deco-line {text-decoration:line-through;}
.fw-bold {font-weight:var(--fw-bold);}
.fw-medium {font-weight:var(--fw-medium);}
.fw-regular {font-weight:var(--fw-regular);}
.c-white{color:var(--color-white);}
.c-red{color:var(--color-red);}
.c-blue{color:var(--color-primary);}
.c-green{color:var(--color-green);}
.c-purple{color:var(--color-purple);}
.c-gray{color:var(--color-gray);}
.c-gray2{color:var(--color-gray2);}
.c-light-gray{color:var(--color-light-gray);}

  /* 간격 (고정) - media 변경 없음 */
.mt-0 {margin-top:0px!important;}
.ml-4 {margin-left:4px!important;}
.mb-4 {margin-bottom:4px!important;}
.mb-6 {margin-bottom:6px!important;}
.mb-8 {margin-bottom:8px!important;}
.mb-12 {margin-bottom:12px!important;}
.mt-10 {margin-top:10px!important;}
.mt-12 {margin-top:12px!important;}
.mt-8 {margin-top:8px!important;}



