@import "font.css";
@import "reset.css";
:root {
    /* fonts weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* color */
    --color-white: #fff;
    --color-black: #333;
}
body[data-text-size='lg'] {
    /* fonts size (크게) */
    --txt-size01 : 16px;
    --txt-size02 : 18px;
    --txt-size03 : 20px;
    --txt-size04 : 24px;
    --txt-size05 : 28px;
    --txt-size06 : 32px;
    --txt-size07 : 36px;
    --txt-size08 : 40px;
    --txt-size09 : 48px;
    --txt-size10 : 60px;
    --txt-size11 : 68px;
    header .btn-wrap > a.ico-user {min-width:56px;}
    header .btn-wrap > a.ico-bag {min-width:64px;}
    header .btn-wrap > a.ico-pay {min-width:64px;}
    @media (max-width: 767px) {
        --txt-size01 : 14px;
        --txt-size02 : 18px;
        --txt-size03 : 20px;
        --txt-size04 : 20px;
        --txt-size05 : 24px;
        --txt-size06 : 24px;
        --txt-size07 : 26px;
        --txt-size08 : 36px;
        --txt-size09 : 30px;
        --txt-size10 : 24px;
        --txt-size11 : 38px;
        .txt-gray + .arrow_link {margin-left:20px;}
    }
}
body[data-text-size='normal'] {
    /* fonts size (보통) */
    --txt-size01: 14px;
    --txt-size02: 16px;
    --txt-size03: 18px;
    --txt-size04: 20px;
    --txt-size05: 24px;
    --txt-size06: 28px;
    --txt-size07: 32px;
    --txt-size08: 36px;
    --txt-size09: 40px;
    --txt-size10: 48px;
    --txt-size11: 56px;

    /* 너비조정 */
    @media (max-width: 767px) {
        --txt-size01: 12px;
        --txt-size02: 14px;
        --txt-size03: 16px;
        --txt-size04: 16px;
        --txt-size05: 18px;
        --txt-size06: 18px;
        --txt-size07: 20px;
        --txt-size08: 32px;
        --txt-size09: 24px;
        --txt-size10: 20px;
        --txt-size11: 32px;
    }
}

body[data-text-size='small'] {
    /* fonts size (보통) */
    --txt-size01 : 13px;
    --txt-size02 : 14px;
    --txt-size03 : 16px;
    --txt-size04 : 18px;
    --txt-size05 : 20px;
    --txt-size06 : 24px;
    --txt-size07 : 28px;
    --txt-size08 : 32px;
    --txt-size09 : 36px;
    --txt-size10 : 40px;
    --txt-size11 : 48px;
    @media (max-width: 767px) {
        --txt-size01 : 12px;
        --txt-size02 : 13px;
        --txt-size03 : 14px;
        --txt-size04 : 14px;
        --txt-size05 : 16px;
        --txt-size06 : 16px;
        --txt-size07 : 18px;
        --txt-size08 : 26px;
        --txt-size09 : 20px;
        --txt-size10 : 18px;
        --txt-size11 : 28px;
    }
}


/* 글자크기 변경 */
/* [전체] 공통 */
*{color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:1.4;word-break:break-all;padding:0;margin:0;box-sizing:border-box;}
html, body{height:100%;font-family:"Pretendard", sans-serif;font-weight:var(--fw-regular);}
#skip-nav {position: fixed;left: 0;top: -40px;width: 100%;line-height: 40px;text-align: center;background-color: rgba(0, 0, 0, 0.8);color: #ffffff;z-index: 1000000;transition: top 0.3s;box-sizing: border-box;}
#skip-nav:focus {top:0;border:5px solid #6dd585;border-radius:8px;}
.blind{height:1px;width: 1px;position: absolute;overflow: hidden;clip: rect(1px 1px 1px 1px);margin: 0;}
.visually-hidden {position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;white-space: nowrap;}
.pc-only {display:block!important;}
.pc-only-f {display:flex!important;}
.mobile-only {display:none!important;}
.mobile-only-f {display:none!important;}
.ico-btn{width:28px;height:28px;}
.ico-btn.ico-bc{background:url(../img/ico/ico_bc.svg) center top no-repeat;background-size:28px;}
.ico-btn.ico-hamburger{background:url(../img/ico/ico_menu.svg) center top no-repeat;background-size:28px;}
body.no-scroll {overflow: hidden; /* 스크롤 막기 */}
/* 공통 (모달 스타일) */
.modal {display:none;width:100%;height:100%;position:fixed;top:0;left:0;background-color:rgba(0, 0, 0, 0.5);z-index: 100002;}
.modal-content {background-color: var(--color-white);padding-top:64px;border-radius: 8px; width: 90%; max-width: 800px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.modal-content .title-wrap {width:100%;height:64px;display:flex;justify-content:space-between;align-items:center;padding:20px;position:absolute;left:0;top:0;border-bottom:1px solid #D8DCE2;}
.modal-content .title-wrap > h3 {font-size:var(--txt-size05);font-weight:var(--fw-bold)}
.modal-content .close-btn {width:28px;height:28px;background:url(../img/ico/ico_modal_close.svg) center center no-repeat;background-size:contain;cursor:pointer;}
.modal-body {padding:40px 70px;max-height: 60vh;overflow-y: auto;}
.modal-content > .btn-wrap{padding-top:10px;}
.modal-body.h-auto {height: auto;max-height: none;}

/* 바코드 */
.bc-box > * {flex:1;width:100%;}
.bc-pl-tit {font-size:var(--txt-size05);font-weight:var(--fw-medium);color:#0189FF;}
.bc-user-name {font-size:var(--txt-size08);font-weight:var(--fw-bold);color:#333333;}
.bc-user-num {font-size:var(--txt-size06);font-weight:var(--fw-bold);color:#666666;}
.bc-img-box > img {width:100%;}
.bc-pl-tit + .bc-user-name {margin-top:20px;}
.bc-user-name + .bc-user-num {margin-top:8px;}
.bc-user-num + .bc-img-box {margin-top:12px;}
/* 글자크기 변경 아이콘 */
.fixed-btn-wrap {width:88px;height:88px;position:fixed;top:180px;right:0;z-index:10000;}
.fixed-btn-wrap > button {display:none;position:absolute;left:0;top:0;}
.fixed-btn-wrap > button.active{display:block;}
.txt-size-btn.sm {width:100%;height:100%;background:url(../img/common/txt-sm.svg)center center no-repeat;background-size:contain;transition:background 0.3s;}
.txt-size-btn.rg {width:100%;height:100%;background:url(../img/common/txt-rg.svg)center center no-repeat;background-size:contain;transition:background 0.3s;}
.txt-size-btn.lg {width:100%;height:100%;background:url(../img/common/txt-big.svg)center center no-repeat;background-size:contain;transition:background 0.3s;}
.txt-size-btn.sm:hover {background:url(../img/common/txt-sm-hover.svg)center center no-repeat;background-size:contain;}
.txt-size-btn.rg:hover {background:url(../img/common/txt-rg-hover.svg)center center no-repeat;background-size:contain;}
.txt-size-btn.lg:hover {background:url(../img/common/txt-big-hover.svg)center center no-repeat;background-size:contain;}

/* header */
header {width:100%;height:100px;display:flex;align-items:center;position:fixed;top:0;left:0;z-index:10000;background-color:var(--color-white);}
header > .content-wrap {max-width:1760px;width:100%;height:100%;display:flex;justify-content:space-between;align-items:center;margin:0 auto;}
header  h1 {width:270px;height:58px;}
header  h1  a {display:flex;}
header  h1  a > img {width: 100%;}

/* header > nav */
nav > ul > li > a {display:inline-flex;padding:12px;font-size:var(--txt-size05);font-weight:var(--fw-medium);color:var(--color-black);}
nav > ul {display:flex;align-items:center;gap:96px;}
header .btn-wrap {display:flex;align-items:center;gap:16px;}
header .btn-wrap > a {display:inline-flex;padding-top:32px;position:relative;font-size:var(--txt-size02);font-weight:var(--fw-medium);color:#666666;}
header .btn-wrap > a.ico-user {min-width:42px;background:url(../img/ico/ico_login.svg) center top no-repeat;background-size:contain;width:28px;height:28px;}
header .btn-wrap > a.ico-bag {min-width:56px;background:url(../img/ico/ico_bag.svg) center top no-repeat;background-size:contain;width:28px;height:28px;}
header .btn-wrap > a.ico-pay {min-width:56px;background:url(../img/ico/ico_paper.svg) center top no-repeat;background-size:contain;width:28px;height:28px;}
header .btn-wrap.sm {gap:8px;}
.sidebar .pc-only-f > li:hover > a {color:#0189FF;font-weight:var(--fw-bold);transition:color 0.3s;}

/* main-con-box 색상 박스 */
button.main-con-box {display:flex;}
.main-con-box{border-radius:32px;padding:40px 32px;}
.main-con-box:hover{box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);transition: box-shadow 0.3s;}
.main-con-box.blue {background-color:#D2E1FF}
.main-con-box.orange {background-color:#FFF2E4}
.main-con-box.green {background-color:#E7FFE8}
.main-con-box.skyblue {background-color:#EAF4FF}
.main-con-box.purple {background-color:#EAE3FF}
.main-con-box.red {background-color:#FFEEED;}
.main-con-box.gray {background-color:#EFEFEF}
.main-con-box.type1 {padding:60px 40px;background-image:url(../img/mainPage/main1.png);background-repeat:no-repeat;background-position:calc(100% - 48px) calc(100% - 40px);}
.main-con-box.type2 {flex:1;background-image: url(../img/mainPage/main2.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:380px;}
.main-con-box.type3 {width:300px;background-image: url(../img/mainPage/main3.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:380px;}
.main-con-box.type4 {flex:1;background-image: url(../img/mainPage/main4.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:280px;}
.main-con-box.type5 {flex:1;background-image: url(../img/mainPage/main5.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:280px;}
.main-con-box.type6 {flex:1;padding:27px 32px;}
.main-con-box.type7 {flex:1;background-image: url(../img/subPage/sub1.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);}
.main-con-box.type8 {flex:1;background-image: url(../img/subPage/sub2.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);}
.main-con-box.type9 {flex:1;background-image: url(../img/subPage/sub3.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);}
.main-con-box.type10 {flex:1;background-image: url(../img/subPage/sub4.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);}
.main-con-box.type11 {flex:1;background-image: url(../img/subPage/sub5.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);}

/* 메인 페이지 */
/* main */
main {padding-top:100px;}
main > .sec{width:100%;margin:0 auto;}

/* 공통 */
.flex-wrap {width:100%;display:flex;gap:20px;}
.flex-wrap.end {justify-content:flex-end;}
.flex-wrap.between {justify-content:space-between;}
.flex-wrap.al-end{align-items:flex-end;}
.flex-wrap.al-center{align-items:center;}
.flex-wrap.col-ver{flex-direction:column;}
.flex-wrap.gap-auto{gap:0;}
span.title-wrap{display:block;}
span.title-wrap span {display:block;text-align:left;}
.title-wrap > h2 {font-size:var(--txt-size11);font-weight:var(--fw-bold);color:#0189FF;}
span.title-wrap > .h4,
.title-wrap > h4 {font-size:var(--txt-size07);font-weight:var(--fw-bold);color:#333333;}
.title-wrap > p {font-size:var(--txt-size05);font-weight:var(--fw-medium);color:#666666;}
.title-wrap > h4.txt-big {font-size:var(--txt-size10);}
.title-wrap > h4.txt-sm {font-size:var(--txt-size05);}
.title-wrap > p.txt-sm {font-size:var(--txt-size04);}
.title-wrap > h4 + p.txt-sm {margin-top:12px;}
.title-wrap > h4.txt-sm + p.txt-sm{margin-top:4px;}
.title-wrap > p + h2 {margin-top:9px;}
.title-wrap > p + h4 {margin-top:12px;}
.title-wrap .link-btn {margin-top:12px;}
.link-btn {display:inline-flex;width:60px;height:60px;border-radius:50%;background:var(--color-white) url(../img/ico/ico_arrow_lg.svg) center center no-repeat;background-size:28px;  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);}
.main-con-box:hover .link-btn {background:var(--color-white) url(../img/ico/ico_arrow_lg_active.svg) center center no-repeat;background-size:28px;}

/* sub-ver title */
.title-wrap.sub-ver {display:flex;flex-direction:column;align-items:center;gap:12px;margin-bottom:60px;}
.title-wrap.sub-ver > h2 {font-size:var(--txt-size09);font-weight:var(--fw-bold);color:#333333;}
.title-wrap.sub-ver > p {font-size: var(--txt-size05);font-weight:var(--fw-medium);color:#666666;}


/* dim */
.dim {display:none;position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,0.25);z-index:100002;opacity:1;transition:opacity 0.3s;}
.dim.active {display:block;opacity:1;}
.sidebar-title-wrap {width:100%;height:60px;background-color:#0189FF;display:flex;justify-content:space-between;align-items:center;padding:16px 16px 16px 12px;}

/* #sec1 */
#sec1 {width:100%;padding:26px 0 60px;}
#sec1 > .content-wrap{width:100%;max-width:1760px;margin:0 auto;display:flex;align-items:stretch;}
#sec1 .title-wrap + .main-con-box.type1 {margin-top:28px;height: 100%;}
#sec1 .flex-wrap.first {width:760px;}
#sec1 .flex-wrap.first + .flex-wrap {flex:1;}

/*-------------------------------------------------------------------*/
/* 서브 페이지 공통 */
.inner-wrap{width:100%;padding-top:80px;padding-bottom:86px;}
.content-box {width:100%;max-width:1280px;margin:0 auto;}
.content-box.lg {max-width:1580px;}

/* 1. cs_mobile_user_card : 모바일 회원카드 */
.online-card-wrap {padding:20px 0;}
.online-card-wrap > *{flex:1;height:460px;padding:28px 20px;}
.online-card-wrap .title-wrap > .h4 + .link-btn,
.online-card-wrap .title-wrap > h4 + .link-btn {margin-top:16px;}
.online-card-wrap + .flex-wrap {margin-top:20px;}
.txt-gray {font-size:var(--txt-size06);font-weight:var(--fw-bold);color:#666666;text-align:left;}
.arrow_link {display:inline-flex;align-items:center;padding-right:48px;height:40px;font-size: var(--txt-size04);font-weight:var(--fw-medium);color:#0189FF;background:url(../img/ico/ico_arrow_white_circle.svg) right 0 center no-repeat;background-size:40px;}
.txt-gray + .arrow_link {margin-left:60px;}

/* [반응형] : pc */
@media (max-width: 1760px) {
    /* header */
    header > .content-wrap {max-width:100%;padding:0 20px;}

    /* header > nav */
    nav > ul > li > a {padding:12px 6px;}
    nav > ul {gap:66px;}

    /* #sec1 */
    #sec1 > .content-wrap{max-width:100%;padding:0 20px;}
}

@media (max-width: 1500px) {
    /* 공통 */
    .flex-wrap.flex1 {flex:1;}

    /* header > nav */
    nav > ul > li > a {display:inline-flex;padding:12px;font-weight:var(--fw-medium);color:var(--color-black);}
    nav > ul {display:flex;align-items:center;gap:48px;}

    /* #sec1 */
    #sec1 .flex-wrap.first {flex:1;}

    /* sec1 > main-con-box */
    .main-con-box.type1 {background-size:360px;}
    .main-con-box.type2 {background-size:180px;}
    .main-con-box.type3 {width:auto;flex:1;background-size:180px;}
    .main-con-box.type4 {background-size:180px;}
    .main-con-box.type5 {background-size:180px;}
}

/* [반응형] : 모바일 */
@media (max-width: 1200px) {
    /* 공통 */
    .pc-only {display:none!important;}
    .pc-only-f {display:none!important;}
    .mobile-only {display:block!important;}
    .mobile-only-f {display:flex!important;}

    /* 공통 */
    .flex-wrap.mo-col {flex-direction: column;}
    .flex-wrap.mo-j-start {justify-content:flex-start;}

    /* sec1 > main-con-box */
    .main-con-box{border-radius:8px;padding:16px 12px;}
    .main-con-box.type1 {flex:1;width:100%;}
    .main-con-box.type2 {flex:1;background-image: url(../img/mainPage/main2.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:380px;}
    .main-con-box.type3 {width:300px;background-image: url(../img/mainPage/main3.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:380px;}
    .main-con-box.type4 {flex:1;background-image: url(../img/mainPage/main4.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:280px;}
    .main-con-box.type5 {flex:1;background-image: url(../img/mainPage/main5.png);background-repeat:no-repeat;background-position:calc(100% - 32px) calc(100% - 20px);height:280px;}
    .main-con-box.type6 {flex:1;padding:27px 32px;}
    .main-con-box.type7 {flex:1;background-image: url(../img/subPage/sub1.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);background-size:80px;}
    .main-con-box.type8 {flex:1;background-image: url(../img/subPage/sub2.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);background-size:80px;}
    .main-con-box.type9 {flex:1;background-image: url(../img/subPage/sub3.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);background-size:80px;}
    .main-con-box.type10 {flex:1;background-image: url(../img/subPage/sub4.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);background-size:80px;}
    .main-con-box.type11 {flex:1;background-image: url(../img/subPage/sub5.png);background-repeat:no-repeat;background-position:calc(100% - 20px) calc(100% - 16px);background-size:80px;}

    /* #sec1 */
    #sec1 .flex-wrap.first {width:100%;}

    /* sidebar */
    .sidebar {position:fixed;right:-280px;top:0;width:280px;height:100vh;padding-top:60px;z-index:100005;background-color:var(--color-white);transition: right 0.3s ease; /*transform:translateX(100%);transition:transform 0.3s*/;overflow-y:auto;}
    .sidebar.active {right:0;}
    .sidebar .sidebar-title-wrap .user-btn {height:28px;color:var(--color-white);font-size:var(--txt-size03);font-weight:var(--fw-medium);padding-left:32px;background:url(../img/ico/ico_login_white.svg) left center no-repeat;background-size:28px;}
    .sidebar .sidebar-title-wrap .close-btn {width:28px;height:28px;background:url(../img/ico/ico_close.svg) center center no-repeat;background-size:28px;}
    .sidebar-title-wrap{width:100%;align-items:center;justify-content:space-between;position:absolute;left:0;top:0;height:60px;}
    .sidebar .sidebar-menu-wrap {padding:8px 0;}
    .sidebar-list > li {border-bottom:1px solid #ebebeb;}
    .sidebar-list > li > a {display:block;padding:16px 12px 16px 24px;font-size:var(--txt-size03);font-weight:var(--fw-medium);color:#333333;}

    /*---------------------------------*/
    /* 서브 페이지 공통 */
    .inner-wrap{padding-top:60px;padding-bottom:22px;}
    .content-box {max-width:100%;padding:0 16px;}
    .content-box.lg {max-width:100%;}
    /* 1. cs_mobile_user_card : 모바일 회원카드 */
    .online-card-wrap > *{height:80px;padding:12px 16px;}
    .online-card-wrap .title-wrap > h4 + .link-btn {margin-top:8px;}
    .online-card-wrap + .flex-wrap {margin-top:0;}
    .txt-gray {text-align:left;}
    .arrow_link {padding-right:22px;height:20px;background:url(../img/ico/ico_arrow_white_circle.svg) right 0 center no-repeat;background-size:22px;}
    .txt-gray + .arrow_link {margin-left:42px;}
}
@media (max-width: 767px) {
    /* 공통 */
    .flex-wrap{gap:12px;}
    .title-wrap > p + h2 {margin-top:4px;}
    .title-wrap > p + h4 {margin-top:8px;}
    .txt-big + .link-btn {margin-top:24px;}
    .link-btn {display:inline-flex;width:36px;height:36px;border-radius:50%;background:var(--color-white) url(../img/ico/ico_arrow_sm.svg) center center no-repeat;background-size:20px;}
    .main-con-box:hover .link-btn {background:var(--color-white) url(../img/ico/ico_arrow_sm_active.svg) center center no-repeat;background-size:20px;}

    /* sub-ver title */
    .title-wrap.sub-ver {gap:8px;margin-bottom:0;padding:0 16px;}

    /* main-con-box 색상 박스 */
    .main-con-box.type1 {padding:20px 12px;background-position:calc(100% - 12px) calc(100% - 12px);background-size: 150px;height:173px;}
    .main-con-box.type2 {background-position:calc(100% - 8px) calc(100% - 8px);background-size: 96px;height:160px;}
    .main-con-box.type3 {background-position:calc(100% - 8px) calc(100% - 8px);background-size: 96px;height:160px}
    .main-con-box.type4 {background-position:calc(100% - 8px) calc(100% - 8px);background-size: 96px;height:160px;}
    .main-con-box.type5 {background-position:calc(100% - 8px) calc(100% - 8px);background-size: 96px;height:160px;}
    .main-con-box.type6 {flex:1;padding:16px 0 24px;border-radius:0;position:relative;margin-top:14px;}
    .main-con-box.type6 .flex-wrap.between.al-center {justify-content:flex-start;align-items:flex-start;}
    .main-con-box.type6::before{content:'';width:calc(100% + 40px);height:100%;background-color:#EFEFEF;position:absolute;left:-20px;top:0;z-index:-1;}

    /* 글자크기 변경 아이콘 */
    .fixed-btn-wrap {width:60px;height:60px;top:60px;}
    .txt-size-btn.sm {width:100%;height:100%;background:url(../img/common/txt-sm-mo.svg)center center no-repeat;background-size:contain;}
    .txt-size-btn.rg {width:100%;height:100%;background:url(../img/common/txt-rg-mo.svg)center center no-repeat;background-size:contain;}
    .txt-size-btn.lg {width:100%;height:100%;background:url(../img/common/txt-lg-mo.svg)center center no-repeat;background-size:contain;}


    main {padding-top:60px;}
    /* #sec1 */
    #sec1 {padding:20px 0 0;}
    #sec1 .title-wrap + .main-con-box.type1 {margin-top:0;height: 100%;}
    #sec1 .flex-wrap.first + .flex-wrap {flex:1;}

    /* header */
    header {height:60px;}
    header > .content-wrap {width:100%;height:100%;padding:15px 20px;}
    header  h1 {width:130px;height:29px;}

    /* sidebar */
    .sidebar .sidebar-title-wrap .user-btn {/*font-size:12px;*/}
    .sidebar-list > li > a {font-size:var(--txt-size02);}

    /*임시*/
    .bc-box {max-width:480px;margin:0 auto;}
    .bc-img-box {height:128px;}
    .bc-img-box img {}
    .bc-user-name {/*font-size:32px;*/margin-top:0px!important;}
    .bc-user-num {font-weight: var(--fw-medium)!important;}


    /* 모달 */
    .modal-body {padding: 0;height:100%;display:flex;align-items:center;}
    .modal-content {
        max-width: none;
        transform: translate(-50%, -50%) rotate(-90deg); /* -90도 회전 */
        transform-origin: center; /* 중심축 설정 */

        /* 가로 및 세로 여백 각각 16px 추가 */
        width: calc(100vh - 32px); /* 회전하므로 높이와 너비 반대로 계산 */
        height: calc(100vw - 32px);
    }
}

@media (max-width: 380px) {
    /* 모달 */
    .modal-body {padding: 8px 44px;height:100%;display:flex;align-items:center;}
}