

/* 공통 (모달 스타일) */
.modal {display:none;width:100%;height:100%;position:fixed;top:0;left:0;background-color:rgba(0, 0, 0, 0.5);z-index: 100002;}
.modal-content {background-color: var(--color-white);padding-top:64px;border-radius: 8px; width: 90%; max-width: 800px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.modal-content.pd-auto{padding:40px;}
.modal-content.sm {max-width:600px;width:100%;}
.modal-content .title-wrap {width:100%;height:64px;display:flex;justify-content:space-between;align-items:center;padding:20px;position:absolute;left:0;top:0;border-bottom:1px solid #D8DCE2;}
.modal-content .title-wrap > h3 {font-size:var(--txt-size05);font-weight:var(--fw-bold)}
.modal-content .close-btn {width:28px;height:28px;background:url(../images/ico/ico_modal_close.svg) center center no-repeat;background-size:contain;cursor:pointer;}
.modal-body {padding:40px 70px;max-height: 60vh;overflow-y: auto;}
.modal-content > .btn-wrap{padding-top:10px;}
.modal-body.h-auto {height: auto;max-height: none;}

/* */

/* 알림관련 모달 */
.confirm-box {display:flex;flex-direction:column;align-items:center;}
.confirm-box img {width:80px;height:80px;}
.confirm-box img + .c-em {margin-top:20px;}
.confirm-box .c-em {font-size:var(--txt-size05);font-weight:var(--fw-bold);}
.confirm-box .c-desc {font-size:var(--txt-size04);font-weight:var(--fw-medium);color:var(--color-gray);}
.confirm-box .c-em + .c-desc {margin-top: 8px;}
.confirm-box + .flex-wrap {margin-top: 28px;}

/* 바코드 */
.bc-box > * {flex:1;width:100%;}
.bc-pl-tit {font-size:var(--txt-size05);font-weight:var(--fw-medium);color:#0189FF;}
.bc-user-name {font-size:var(--txt-size08);font-weight:var(--fw-bold);color:#333333;}
.bc-user-num {font-size:var(--txt-size06);font-weight:var(--fw-bold);color:#666666;}
.bc-img-box > img {width:100%;}
.bc-pl-tit + .bc-user-name {margin-top:20px;}
.bc-user-name + .bc-user-num {margin-top:8px;}
.bc-user-num + .bc-img-box {margin-top:12px;}

/* 1. cs_mobile_user_card : 온라인 회원카드 */
.online-card-wrap {padding:20px 0;}
.online-card-wrap > *{flex:1;height:460px;padding:28px 20px;}
.online-card-wrap .title-wrap > .h4 + .link-btn,
.online-card-wrap .title-wrap > h4 + .link-btn {margin-top:16px;}
.online-card-wrap + .flex-wrap {margin-top:20px;}
.txt-gray {font-size:var(--txt-size06);font-weight:var(--fw-bold);color:#666666;text-align:left;}
.arrow_link {display:inline-flex;align-items:center;padding-right:48px;height:40px;font-size: var(--txt-size04);font-weight:var(--fw-medium);color:#0189FF;background:url(../images/ico/ico_arrow_white_circle.svg) right 0 center no-repeat;background-size:40px;}
.txt-gray + .arrow_link {margin-left:60px;}

@media (max-width:1200px) {
  /* 1. cs_mobile_user_card : 온라인 회원카드 */
  .online-card-wrap > *{height:80px;padding:12px 16px;}
  .online-card-wrap .title-wrap > h4 + .link-btn {margin-top:8px;}
  .online-card-wrap + .flex-wrap {margin-top:0;}
  .txt-gray {text-align:left;}
  .arrow_link {padding-right:22px;height:20px;background:url(../images/ico/ico_arrow_white_circle.svg) right 0 center no-repeat;background-size:22px;}
  .txt-gray + .arrow_link {margin-left:42px;}
}

@media (max-width: 768px) {
  .modal .title-wrap{height:48px;}
  .modal-content .close-btn {width:20px;height:20px;}
  /* 모달 (컨펌창 버전) */
  .modal[data-modal-type="confirm-ver"] .modal-body {padding: 0;height:100%;display:flex;align-items:center;}
  .modal[data-modal-type="confirm-ver"] .modal-content {max-width: 100%;width: calc(100% - 16px); /* 회전하므로 높이와 너비 반대로 계산 */}
  .modal[data-modal-type="confirm-ver"] .modal-content.pd-auto {padding:28px 20px;}
  .modal[data-modal-type="confirm-ver"] .modal-content.sm {max-width: 100%;width: calc(100% - 16px); /* 회전하므로 높이와 너비 반대로 계산 */}

  /* 모달 (버튼 타입 고정버전) */
  .modal[data-modal-type="fixed-btn-ver"] .modal-content{padding-top:48px;width:100%;height:100vh;border-radius:0;}
  .modal[data-modal-type="fixed-btn-ver"] .modal-body{padding:20px 16px;max-height:none;height:calc(100vh - 48px - 48px);}

  /* 모달안에 들어가는 콘텐츠 */
  /* 온라인 회원카드 */
  .bc-box {max-width:480px;margin:0 auto;}
  .bc-img-box {height:128px;}
  .bc-img-box img {}
  .bc-user-name {/*font-size:32px;*/margin-top:0px!important;}
  .bc-user-num {font-weight: var(--fw-medium)!important;}

  /* 알림관련 모달 */
  .confirm-box {display:flex;flex-direction:column;align-items:center;}
  .confirm-box img {width:48px;height:48px;}
  .confirm-box img + .c-em {margin-top:8px;}
  .confirm-box + .flex-wrap {margin-top: 20px;}
}

@media (max-width: 380px) {
    /* 모달 */
    .modal[data-modal-type="rotate-ver"] .modal-body {padding: 8px 44px;height:100%;display:flex;align-items:center;}
}