body{height:auto;overflow-y:auto;position:relative;}
body.on{overflow-y:hidden;}
ul{list-style:none;}
a{text-decoration:none;}
span{display:inline-block;}
img{max-width:100%;object-fit:cover;}
button {border:0;background:none;padding:0;cursor:pointer;}
table {border-collapse:collapse;border-spacing:0;}
em {font-style:normal;}