<!doctype html>
<html lang=ko>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css -->
    <link rel="stylesheet" href="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">
    <link rel="stylesheet" href="../../resources/lib/swiper/swiper.css">
    <link rel="stylesheet" href="../../resources/css/main.css">

    <!-- lib -->
    <script src="../../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
    <script src="../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
    <script src="../../resources/lib/swiper/swiper.js"></script>

    <!-- js -->
    <script src="../../resources/js/main.js"></script>

    <title>메인 페이지</title>
</head>
<body data-text-size="normal">
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>
<!-- 헤더 -->
<header>
    <!-- [사이드바] dim 처리 영역 -->
    <div id="dim-overlay" class="dim"></div>
    <div class="content-wrap"  id="main-content">
        <h1>
            <a href="../user/main.html">
                <img src="../../resources/images/common/kspo_logo.svg" alt="한국체육산업개발주식회사 수강신청" />
            </a>
        </h1>
        <nav class="sidebar" role="dialog" aria-model="true" aria-label="메뉴">
            <!-- pc 에서의 gnb -->
            <ul class="pc-only-f">
                <li><a href="../user/cs_center_join.html">센터가입</a></li>
                <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
            <!-- mobile 에서의 gnb -->
            <div class="sidebar-title-wrap mobile-only-f">
                <a href="../user/login.html" class="user-btn">로그인</a>
                <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
            </div>
            <div class="sidebar-menu-wrap">
                <ul class="sidebar-list mobile-only">
                    <li><a href="../user/cs_mobile_user_card.html">온라인 회원카드</a></li>
                    <li><a href="../user/cs_center_join.html">센터가입</a></li>
                    <li><a href="../user/cs_course_registration.html">수강신청</a></li>
                    <li><a href="../user/cs_shopping_cart.html">장바구니</a></li>
                    <li><a href="../user/cs_payment_history.html">결제내역</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>
            </div>
        </nav>
        <div class="btn-wrap pc-only-f">
            <a href="../user/login.html" class="ico-user"><span>로그인</span></a>
            <a href="../user/cs_shopping_cart.html" class="ico-bag"><span>장바구니</span></a>
            <a href="../user/cs_payment_history.html" class="ico-pay"><span>결제내역</span></a>
        </div>
        <div class="btn-wrap sm mobile-only-f">
            <a href="../user/login.html" class="ico-btn ico-user" aria-label="사용자 계정"><img src="../../resources/images/ico/ico_login.svg" alt="로그인 페이지 이동"/></a>
            <a href="../user/cs_payment_history.html" class="ico-btn ico-pay" aria-label="결제내역"><img src="../../resources/images/ico/ico_bc.svg" alt="결제내역 페이지 이동"/></a>
            <button type="button" class="ico-btn ico-hamburger"><span class="visually-hidden">메뉴 열기</span></button>
        </div>
    </div>
</header>
<!-- [공통] 글자 텍스트 아이콘 -->
<div class="fixed-btn-wrap">
    <button type="button" class="txt-size-btn sm"><span class="visually-hidden">글씨 크게 보기</span></button>
    <button type="button" class="txt-size-btn rg active"><span class="visually-hidden">글씨 보통 보기</span></button>
    <button type="button" class="txt-size-btn lg"><span class="visually-hidden">글씨 크게 보기</span></button>
</div>


<!-- 메인 -->
<main id="main">
    <section id="sec1" class="sec">
        <div class="content-wrap">
            <div class="flex-wrap mo-col">
                <div class="flex-wrap col-ver first">
                    <div class="title-wrap">
                        <p>한국체육산업개발 스포츠센터</p>
                        <h2>온라인 수강신청 시스템</h2>
                    </div>
                    <div class="notice-wrap">
                        <p class="txt-lg fw-bold">매일 23:50부터 00:10까지 시스템 점검으로 서비스 이용이 제한됩니다.</p>
                        <p class="txt-md c-gray">안정적인 서비스 제공을 위한 조치이니 양해 부탁드립니다.</p>
                    </div>
                    <a href="../user/cs_course_registration.html" class="main-con-box blue type1" aria-label="수강신청 페이지 이동">
                        <div class="title-wrap">
                            <p>수강신청</p>
                            <h4 class="txt-big">원하는 수업을 바로<br>신청하세요.</h4>
                            <span class="link-btn"></span>
                        </div>
                    </a>
                </div>
                <div class="flex-wrap col-ver">
                    <div class="flex-wrap">
                        <a href="#" class="main-con-box orange type2" aria-label="수강신청 안내 페이지로 이동">
                            <div class="title-wrap">
                                <h4>이용안내</h4>
                                <p class="txt-sm pc-only">수강신청이 어려우신가요?<br>안내 페이지에서 자세하게<br>설명드립니다.</p>
                                <span class="link-btn"></span>
                            </div>
                        </a>
                        <a href="../user/cs_center_join.html" class="main-con-box green type3" aria-label="센터가입 페이지 이동">
                            <div class="title-wrap">
                                <h4>센터가입</h4>
                                <span class="link-btn"></span>
                            </div>
                        </a>
                    </div>
                    <div class="flex-wrap">
                        <a href="../user/cs_shopping_cart.html" class="main-con-box skyblue type4" aria-label="장바구니 페이지 이동">
                            <div class="title-wrap">
                                <h4>장바구니</h4>
                                <span class="link-btn"></span>
                            </div>
                        </a>
                        <a href="../user/cs_payment_history.html" class="main-con-box purple type5" aria-label="결제내역 페이지 이동">
                            <div class="title-wrap">
                                <h4>결제내역</h4>
                                <span class="link-btn"></span>
                            </div>
                        </a>
                    </div>
                    <div class="flex-wrap">
                        <a href="https://www.ksponco.or.kr/sports/" target="_blank" class="main-con-box gray type6" aria-label="스포츠 센터 홈페이지 이동">
                            <div class="flex-wrap between al-center">
                                <div class="title-wrap">
                                    <h4 class="txt-sm">스포츠 센터 홈페이지 바로가기</h4>
                                    <p class="txt-sm">공지사항을 확인하고, 궁금한 점을 문의할 수 있습니다.</p>
                                </div>
                                <span class="link-btn"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>
</body>
</html>