<!doctype html>
<html lang=ko>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- css -->
  <link rel="stylesheet" href="../../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.css">
  <link rel="stylesheet" href="../../../resources/lib/swiper/swiper.css">
  <link rel="stylesheet" href="../../resources/css/views/main_intro.css">

  <!-- lib -->
  <script src="../../../resources/lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../../../resources/lib/jquery-ui-1.13.2/jquery-ui-1.13.2.js"></script>
  <script src="../../../resources/lib/swiper/swiper.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>

  <!-- js -->
  <script src="../../resources/js/main.js"></script>

  <title>공지사항</title>
</head>
<body data-text-size="normal">
<!-- [웹 접근성] : 본문 바로가기 -->
<a href="#main" id="skip-nav">본문 바로가기</a>
<!-- 헤더 -->
<header>
  <!-- [사이드바] dim 처리 영역 -->
  <div id="dim-overlay" class="dim"></div>
  <div class="content-wrap"  id="main-content">
    <div class="header-left">
      <h1>
        <a href="#">
          <img src="../../resources/images/logo/kspo_logo_soccer.svg" alt="한국체육산업개발주식회사 수강신청" />
        </a>
        <a href="#" target="_blank" class="btn rounded pc-only">KSPO&CO 바로가기</a>
      </h1>
      <nav class="sidebar" role="dialog" aria-model="true" aria-label="메뉴">
        <!-- pc 에서의 gnb -->
        <ul class="pc-tablet-flex-only">
          <li><a href="#">예약신청</a></li>
          <li><a href="#">신청방법안내</a></li>
          <li><a href="#">시설이용안내</a></li>
          <li><a href="#">오시는길</a></li>
        </ul>
        <!-- mobile 에서의 gnb -->
        <div class="sidebar-title-wrap mo-flex-only">
          <a href="../user/login.html" class="user-btn">로그인</a>
          <button type="button" class="close-btn"><span class="visually-hidden">닫기</span></button>
        </div>
        <div class="sidebar-menu-wrap">
          <ul class="sidebar-list mo-only">
            <li><a href="#">예약신청</a></li>
            <li><a href="#">신청방법안내</a></li>
            <li><a href="#">시설이용안내</a></li>
            <li><a href="#">오시는길</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="btn-wrap pc-tablet-flex-only">
      <a href="#" class="ico-user"><span>로그인</span></a>
      <a href="#" class="ico-logout"><span>로그아웃</span></a>
      <a href="#" class="ico-bag"><span>장바구니</span></a>
      <a href="#" class="ico-pay"><span>신청내역</span></a>
      <button type="button" class="ico-hamburger top-btn"><span>메뉴</span></button>
    </div>
    <div class="btn-wrap sm mo-flex-only">
      <a href="#" class="ico-btn ico-user" aria-label="사용자 계정"><img src="../../../resources/images/ico/ico_login.svg" alt="로그인 페이지 이동"/></a>
      <a href="#" class="ico-btn ico-pay" aria-label="신청내역"><img src="../../../resources/images/ico/ico_bc.svg" alt="결제내역 페이지 이동"/></a>
      <button type="button" class="ico-btn ico-hamburger"><span class="visually-hidden">메뉴 열기</span></button>
    </div>
  </div>
</header>
<main id="main">
  <!--  -->
  <div class="inner-wrap sub-ver">
    <!-- 브레드크럼브(경로) -->
    <div class="flex-wrap end breadcrumb-wrap">
      <ul class="breadcrumb">
        <li class="home">메인</li>
        <li>올림픽테니스장</li>
        <li class="active">일일입장 예약신청</li>
      </ul>
    </div>
    <!-- 페이지 제목 -->
    <div class="title-wrap sub-ver lg">
      <h2>공지사항</h2>
    </div>

    <!-- 테이블 관련 -->
    <!-- 1. 검색 영역 -->
    <div class="search-wrap">
      <label class="select-wrap">
        <select>
          <option>선택</option>
          <option>제목</option>
          <option>내용</option>
          <option>제목+내용</option>
        </select>
      </label>
      <div class="search-box">
        <label class="input-wrap">
          <input type="text" placeholder="검색어 키워드를 입력해주세요">
        </label>
        <button type="button" class="btn size-sm md bg-black">검색</button>
      </div>
    </div>
    <!-- 2. 테이블 (pc/mo) -->
    <div class="custom-table pc-tablet-only ">
      <table>
        <caption class="visually-hidden">공지사항 표 입니다.</caption>
        <colgroup>
          <col style="width: 5%;min-width: 120px;">
          <col style="width:80%;">
          <col style="width:15%;min-width:180px;">
        </colgroup>
        <thead>
        <tr>
          <th><div class="th-wrap">번호</div></th>
          <th><div class="th-wrap">제목</div></th>
          <th><div class="th-wrap">등록일</div></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><div class="td-wrap">18</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">17</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">16</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">15</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">14</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">13</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">12</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">11</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">10</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>
        <tr>
          <td><div class="td-wrap">9</div></td>
          <td><div class="td-wrap"><a href="#" class="text-left ellipsis">온라인 서비스 일시중단 안내 (11. 10. 18:00 ~ 19:00)</a></div></td>
          <td><div class="td-wrap">2026-03-01</div></td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="custom-table mo-only ">
      <table>
        <tbody>
        <tr>
          <td>
            <div class="td-wrap start">
              <a href="#">
                <p class="txt-rgl fw-medium text-left ellipsis">온라인 서비스 일시중단 안내 (11.10 18:00 ) 온라인 서비스 일시중단 안내 (11.10 18:00 )</p>
                <ul class="bar-list">
                  <li>2026.03.01</li>
                  <li>관리자</li>
                </ul>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap start">
              <a href="#">
                <p class="txt-rgl fw-medium text-left ellipsis">온라인 서비스 일시중단 안내 (11.10 18:00 ) 온라인 서비스 일시중단 안내 (11.10 18:00 )</p>
                <ul class="bar-list">
                  <li>2026.03.01</li>
                  <li>관리자</li>
                </ul>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="td-wrap start">
              <a href="#">
                <p class="txt-rgl fw-medium text-left ellipsis">온라인 서비스 일시중단 안내 (11.10 18:00 ) 온라인 서비스 일시중단 안내 (11.10 18:00 )</p>
                <ul class="bar-list">
                  <li>2026.03.01</li>
                  <li>관리자</li>
                </ul>
              </a>
            </div>
          </td>
        </tr>
        </tbody>

      </table>

    </div>
    <!-- 3. 페이지네이션 -->
    <div class="pagination-wrap">
      <div class="pagination">
        <button type="button" class="pg_first"><span class="visually-hidden">처음으로 가기</span></button>
        <button type="button" class="pg_prev"><span class="visually-hidden">이전</span></button>
        <ul>
          <li><button type="button" class="active">1</button></li>
          <li><button type="button">2</button></li>
          <li><button type="button">3</button></li>
          <li><button type="button">4</button></li>
          <li><button type="button">5</button></li>
          <li><button type="button">...</button></li>
        </ul>
        <button type="button" class="pg_next"><span class="visually-hidden">다음</span></button>
        <button type="button" class="pg_last"><span class="visually-hidden">마지막으로 가기</span></button>
      </div>
    </div>
  </div>

  <!-- 캘린더 -->
  <div class="calendar-wrap">
    <div id="calendar"></div>
  </div>
</main>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        // fullcalendar 실행문
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ko',
            initialView: 'dayGridTwoWeek',
            initialDate: '2026-03-25',
            selectConstraint: {
                start: '2026-03-12'
            },
            views: {
                dayGridTwoWeek: {
                    type: 'dayGrid',
                    duration: { weeks: 2 },  // 노출하고 싶은 주의 수
                }
            },
            displayEventTime: false, // 시간 글자 숨김
            events: [
                {
                    id: 'possible-2026-03-12',
                    title: '가능 - 12건',
                    start: '2026-03-12',
                    classNames: ['calendar-unit', 'blue']
                },
                {
                    id: 'progress-2026-03-12',
                    title: '진행 - 3건',
                    start: '2026-03-12',
                    classNames: ['calendar-unit']
                },
                {
                    id: 'closed-2026-03-12',
                    title: '마감 - 9건',
                    start: '2026-03-12',
                    classNames: ['calendar-unit', 'gray']
                }
            ],
            dateClick: function(info) {
                alert('Date: ' + info.dateStr);
                alert('Resource ID: ' + info.resource.id);
            }
        });
        calendar.render();
    });
    /* 실행문 */
    document.addEventListener("DOMContentLoaded", () => {
        new TabManager();
    });
</script>
</body>
</html>